.rhc-button--rhc-fit-content {
  --utrecht-button-padding-inline-start: 0;
  --utrecht-button-padding-inline-end: 0;
  --utrecht-button-padding-block-start: 0;
  --utrecht-button-padding-block-end: 0;
}
