.rhc-nav-bar__link--current {
  background-color: var(--nl-link-color);
}

.rhc-nav-bar__link--current .rhc-nav-bar__label {
  color: white;
}

.rhc-nav-bar__link--current:hover .rhc-nav-bar__label {
  color: var(--nl-link-color);
}