/* You can add global styles to this file, and also import other style files */
@import "@nl-rvo/assets/fonts/index.css";
@import "@rijkshuisstijl-community/design-tokens/dist/index.css";
@import "@rijkshuisstijl-community/design-tokens/dist/uitvoerend-robijnrood/index.css";
@import "@rijkshuisstijl-community/design-tokens/dist/uitvoerend-paars/index.css";
@import "@rijkshuisstijl-community/design-tokens/dist/uitvoerend-oranje/index.css";
@import "@rijkshuisstijl-community/design-tokens/dist/uitvoerend-groen/index.css";
@import "@rijkshuisstijl-community/design-tokens/dist/uitvoerend-hemelblauw/index.css";
@import "@rijkshuisstijl-community/design-tokens/dist/koop/index.css";
@import "@rijkshuisstijl-community/font/src/index";
@import "@rijkshuisstijl-community/components-css/dist/index.css";
