.rhc-form-label--checkbox .utrecht-form-field__label--checkbox {
  --utrecht-form-label-font-weight: var(--rhc-text-font-weight-regular, 400);

  align-items: flex-start;
  display: flex;
  margin-block-end: var(--rhc-form-field-checkbox-option-margin-block-end, inherit);
}

.utrecht-form-field__status {
  grid-column-end: status;
  grid-column-start: status;
  grid-row-end: status;
  grid-row-start: status;
}

.utrecht-form-field--checkbox {
  grid-template-areas: "input label" "input description" "input error-message" "input status";
}
