.rhc-file-input {
  display: flex;
  flex-direction: column;
  row-gap: var(--rhc-file-input-row-gap);
}

.rhc-file-input__button-feedback-container {
  display: flex;
}

.rhc-file-input__feedback {
  align-items: center;
  color: var(--rhc-file-input-feedback-color);
  display: flex;
  font-size: var(--rhc-file-input-feedback-font-size);
  padding-inline-end: var(--rhc-file-padding-inline-end);
  padding-inline-start: var(--rhc-file-padding-inline-start);
}

.rhc-file-input__files-container {
  display: flex;
  flex-direction: column;
  gap: var(--rhc-file-column-gap);
}
