.rhc-nav-bar {
  align-items: center;
  background-color: var(--rhc-nav-bar-background-color);
  border-block-end-width: var(--rhc-nav-bar-border-block-end-width);
  color: var(--rhc-nav-bar-color);
  column-gap: var(--rhc-nav-bar-content-column-gap);
  display: flex;
  justify-content: space-between;
  max-inline-size: var(--rhc-nav-bar-content-max-inline-size);
  row-gap: var(--rhc-nav-bar-content-row-gap);
}

.rhc-nav-bar__list {
  background-color: var(--rhc-nav-bar-background-color);
  display: flex;
  list-style: none;
  margin-block: 0;
  margin-inline: 0;
  padding-block: 0;
  padding-inline: 0;
}

.rhc-nav-bar__list--end {
  margin-inline-start: auto;
}

.rhc-nav-bar__link {
  --utrecht-link-text-decoration: none;

  color: var(--rhc-nav-bar-link-color);
  padding-block-end: var(--rhc-nav-bar-link-padding-block-end);
  padding-block-start: var(--rhc-nav-bar-link-padding-block-start);
  padding-inline-end: var(--rhc-nav-bar-link-padding-inline-end);
  padding-inline-start: var(--rhc-nav-bar-link-padding-inline-start);
  text-decoration: none;

  &:hover {
    background-color: var(--rhc-nav-bar-link-hover-background-color);
  }

  &:focus {
    background-color: var(--rhc-nav-bar-link-focus-background-color);
    color: var(--rhc-nav-bar-link-focus-color);
  }

  &:active {
    background-color: var(--rhc-nav-bar-link-active-background-color);
    color: var(--rhc-nav-bar-link-active-color);
  }

  &:visited {
    color: inherit;
  }
}

.rhc-nav-bar__sub-list {
  background-color: white;
  box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
  display: none;
  inset-block-start: 0;
  inset-inline-start: 100%;
  list-style: none;
  margin-block: 0;
  margin-inline: 0;
  padding-block: 0;
  padding-inline: 0;
  position: absolute;
}

.rhc-nav-bar__item:hover > .rhc-nav-bar__sub-list {
  display: block;
}
