/**
* Hero Aspect Ratio should be adjustable via component props.
* Currently component says the prop is optional, but the default is 16:9 and class is always set even if the prop is unset.
* TODO: Discuss with design if aspect ratio should be forced as it currently is via the component, or if it should truly be optional.
*/
.rhc-hero-details-template.rhc-hero--aspect-ratio-16-9 {
  aspect-ratio: auto;
}

/**
 * Custom Hero styling, pre-existing in templates.
 * TODO: Discuss with team and design if this is intended, and if so, if it should be moved to the component.
 */
.rhc-hero {
  & img {
    block-size: 100%;
    inset-block-end: var(--rhc-space-0);
    inset-block-start: var(--rhc-space-0);
    inset-inline-end: var(--rhc-space-0);
    inset-inline-start: var(--rhc-space-0);
    object-fit: cover;
    position: absolute;
  }

  display: flex;
  justify-content: center;
}

.rhc-hero-details-template .rhc-hero__children {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  inline-size: 100%;
  justify-content: flex-start;
  max-inline-size: 64rem;
  padding-block-end: var(--rhc-space-700);
  padding-block-start: var(--rhc-space-300);
  padding-inline-end: var(--rhc-space-700);
  padding-inline-start: var(--rhc-space-700);
  position: static;
  transform: translateY(0%);

  & .rhc-link-list-card {
    max-inline-size: 24rem;
  }
  @media (width <= 780px) {
    padding-block-end: var(--rhc-space-700);
    padding-block-start: var(--rhc-space-700);
    padding-inline-end: var(--rhc-space-200);
    padding-inline-start: var(--rhc-space-200);
  }
}

/**
 * Custom subnavbar styling, pre-existing in templates.
 * TODO: Discuss with team and design if this is intended, and if so, if it should be moved to the component.
 */
.rhc-subnavbar-details-template .rhc-sub-nav-bar__content {
  box-sizing: border-box;
  max-inline-size: 64rem;
  padding-inline-end: var(--rhc-space-700);
  padding-inline-start: var(--rhc-space-700);
  @media (width <= 780px) {
    padding-inline-end: var(--rhc-space-200);
    padding-inline-start: var(--rhc-space-200);
  }
}

/**
 * Custom linklist-collection component, pre-existing in templates.
 * TODO: Discuss with team and design if this should become a component, like what we're intending for CardGroup to wrap Cards.
 */
.rhc-linklist-collection {
  column-gap: var(--rhc-space-300);
  display: flex;
  flex-direction: row;
  @media (width <= 780px) {
    flex-direction: column;
  }
}
