.rhc-hero-details-template.rhc-hero--aspect-ratio-16-9 {
  aspect-ratio: auto;
}

.rhc-hero {
  & img {
    block-size: 100%;
    inset-block-end: var(--rhc-space-0);
    inset-block-start: var(--rhc-space-0);
    inset-inline-end: var(--rhc-space-0);
    inset-inline-start: var(--rhc-space-0);
    object-fit: cover;
    position: absolute;
  }

  display: flex;
  justify-content: center;
}

.rhc-hero-details-template .rhc-hero__children {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  inline-size: 100%;
  justify-content: flex-start;
  max-inline-size: 64rem;
  padding-block-end: var(--rhc-space-700);
  padding-block-start: var(--rhc-space-300);
  padding-inline-end: var(--rhc-space-700);
  padding-inline-start: var(--rhc-space-700);
  position: static;
  transform: translateY(0%);

  & .rhc-link-list-card {
    max-inline-size: 24rem;
  }
  @media (width <= 780px) {
    padding-block-end: var(--rhc-space-700);
    padding-block-start: var(--rhc-space-700);
    padding-inline-end: var(--rhc-space-200);
    padding-inline-start: var(--rhc-space-200);
  }
}

.rhc-subnavbar-details-template .rhc-sub-nav-bar__content {
  box-sizing: border-box;
  max-inline-size: 64rem;
  padding-inline-end: var(--rhc-space-700);
  padding-inline-start: var(--rhc-space-700);
  @media (width <= 780px) {
    padding-inline-end: var(--rhc-space-200);
    padding-inline-start: var(--rhc-space-200);
  }
}

.rhc-templates-spacing-3 {
  display: flex;
  flex-direction: column;
  gap: var(--rhc-space-300);
  margin-block-end: var(--rhc-space-400);
}

.rhc-linklist-collection {
  column-gap: var(--rhc-space-300);
  display: flex;
  flex-direction: row;
  @media (width <= 780px) {
    flex-direction: column;
  }
}

.rhc-templates-page-content.rhc-templates-page-palin {
  margin-block-end: var(--rhc-space-0);
  margin-block-start: var(--rhc-space-0);
}

.rhc-subfooter-details {
  display: flex;
  flex-direction: row;
  gap: var(--rhc-space-300);
  & * {
    display: flex;
    justify-content: center;
  }
  @container (width <= 780px) {
    flex-direction: column;
    justify-content: center;
  }
}
