@mixin rhc-keep-reset-border-radius {
  border-radius: 0;
}

@mixin rhc-keep--border-radius($corner, $factor: 1) {
  @if $corner == "top-left" {
    border-start-start-radius: calc(var(--rhc-size-half-lint) * #{$factor});
  } @else if $corner == "top-right" {
    border-start-end-radius: calc(var(--rhc-size-half-lint) * #{$factor});
  } @else if $corner == "bottom-left" {
    border-end-start-radius: calc(var(--rhc-size-half-lint) * #{$factor});
  } @else if $corner == "bottom-right" {
    border-end-end-radius: calc(var(--rhc-size-half-lint) * #{$factor});
  }
}

@mixin rhc-keep-corner($corner, $size) {
  @include rhc-keep-reset-border-radius;

  @if $size == "s" {
    @include rhc-keep--border-radius($corner, 1);
  } @else if $size == "m" {
    @include rhc-keep--border-radius($corner, 2);
  } @else if $size == "l" {
    @include rhc-keep--border-radius($corner, 3);
  }
}

@mixin rhc-keep-child__horizontal($size) {
  @if $size == "s" {
    inline-size: 25%;
  } @else if $size == "m" {
    inline-size: 50%;
  } @else if $size == "l" {
    inline-size: 75%;
  } @else if $size == "full" {
    border-radius: 0;
    inline-size: 100%;
  }
}

@mixin rhc-keep-child__vertical($size) {
  @if $size == "s" {
    block-size: 25%;
  } @else if $size == "m" {
    block-size: 50%;
  } @else if $size == "l" {
    block-size: 75%;
  } @else if $size == "full" {
    block-size: 100%;
    border-radius: 0;
  }
}

@mixin rhc-keep-child($position) {
  @include rhc-keep-reset-border-radius;

  box-sizing: border-box;
  position: absolute;

  @if $position == "top-left" {
    inset-block-start: 0;
    inset-inline-start: 0;
  }
  @if $position == "top-right" {
    inset-block-start: 0;
    inset-inline-end: 0;
  }
  @if $position == "bottom-left" {
    inset-block-end: 0;
    inset-inline-start: 0;
  }
  @if $position == "bottom-right" {
    inset-block-end: 0;
    inset-inline-end: 0;
  }
}
