@mixin rhc-keep--border-radius-corner-end-end {
  border-end-end-radius: 40px;
}

@mixin rhc-keep--border-radius-corner-end-start {
  border-end-start-radius: 40px;
}

@mixin rhc-keep--border-radius-corner-start-end {
  border-start-end-radius: 40px;
}

@mixin rhc-keep--border-radius-corner-start-start {
  border-start-start-radius: 40px;
}
