/* global CSS here */
body {
  margin: 0;
  background-color: #f2f4f6;
  display: flex;
  flex-direction: column;
}

.unstarted {
  border: medium solid red;
}

.unfinished {
  border: medium solid yellow;
}

.explanation {
  color: red;
}

.information {
  background-color: white;
}

.container {
  background-color: white;
  margin: 0 auto;
  width: 100%;
  max-width: 74em;
}

.page-content {
  padding: 1em;
}
