.card-layout {
    display : grid; 
    grid-template-columns: 1fr 1fr 1fr; /*verdeeld breedte */
    gap: 1rem; /*ruimte van elkaar tussen elementen van grid*/

    /*in plaats van grid kunnen we ook flex gebruiken. met flex ook gap kan gebruikbaar  */
    padding: 24px 0px;
}