@mixin rhc-card {
  @include rounded-border-corners;

  box-sizing: border-box;
  column-gap: var(--rhc-card-as-link-column-gap, 16px);
  display: inline-flex;
  flex-direction: column;
  font-family: var(--rhc-font-family-primary, inherit);
  font-size: var(--rhc-font-size-xs-desktop, inherit);
  inline-size: var(--rhc-card-as-link-inline-size, 328px);
  line-height: var(--rhc-line-height-md, inherit);
  position: relative;
  text-decoration: none;
}

@mixin rhc-card--default {
  background-color: var(--rhc-card-as-link-background-color, white);
  border-color: var(--rhc-card-as-link-border-color, #cbd5e1);
  border-style: solid;
  border-width: var(--rhc-card-as-link-border-width, 1px);
  color: var(--rhc-card-as-link-color, #154273);
}

@mixin rhc-card__content {
  display: flex;
  flex-direction: column;
  padding-block-end: var(--rhc-card-as-link-padding-block-end, 16px);
  padding-block-start: var(--rhc-card-as-link-padding-block-start, 16px);
  padding-inline-end: var(--rhc-card-as-link-padding-inline-end, 16px);
  padding-inline-start: var(--rhc-card-as-link-padding-inline-start, 16px);
  row-gap: var(--rhc-card-as-link-row-gap, 12px);
}

@mixin rhc-card__heading {
  align-items: center;
  display: flex;
  font-size: var(--rhc-card-as-link-heading-font-size, 24px);
  font-weight: var(--rhc-card-as-link-heading-font-weight, 700);
  text-decoration: none;
}

@mixin rhc-card__heading--active {
  text-decoration: var(--rhc-card-as-link-active-text-decoration, underline);
}
@mixin rhc-card__heading--hover {
  text-decoration: var(--rhc-card-as-link-hover-text-decoration, underline);
}
@mixin rhc-card__heading--focus {
  text-decoration: var(--rhc-card-as-link-focus-text-decoration, underline);
}

@mixin rhc-card__subheading {
  align-items: center;
  display: flex;
  font-size: var(--rhc-font-size-lg);
  text-decoration: none;
}

@mixin rhc-card__link {
  color: var(--rhc-card-as-link-link-color, #01689b);
  text-decoration: none !important;
}

@mixin rhc-card__link--active {
  --utrecht-link-color: var(--rhc-card-as-link-link-active-color, #42145f);

  color: var(--rhc-card-as-link-link-active-color, #42145f);
  text-decoration: var(--rhc-card-as-link-link-active-text-decoration, none);
}
@mixin rhc-card__link--hover {
  text-decoration: var(--rhc-card-as-link-link-hover-text-decoration, none);
}
@mixin rhc-card__link--focus {
  text-decoration: var(--rhc-card-as-link-link-focus-text-decoration, none);
}

@mixin rhc-card__metadata {
  color: var(--rhc-card-as-link-metadata-color, #154273);
}

@mixin rounded-border-corners {
  border-end-end-radius: var(--rhc-card-as-link-border-end-end-radius, var(--rhc-card-as-link-border-radius, 5px));
  border-end-start-radius: var(--rhc-card-as-link-border-end-start-radius, var(--rhc-card-as-link-border-radius, 5px));
  border-start-end-radius: var(--rhc-card-as-link-border-start-end-radius, var(--rhc-card-as-link-border-radius, 5px));
  border-start-start-radius: var(
    --rhc-card-as-link-border-start-start-radius,
    var(--rhc-card-as-link-border-radius, 5px)
  );
}
