@use "../../node_modules/@nl-design-system-candidate/paragraph-css/dist/paragraph.css";

.rhc-paragraph {
  margin-block-end: var(--nl-paragraph-margin-block-end);
  margin-block-start: var(--nl-paragraph-margin-block-start);
}
