#root {
  margin: 0 auto;
  --rhc-card-inline-size: 100%;
  --rhc-card-active-text-decoration: none;
  --utrecht-page-body-background-color: #f3f3f3;
}
  

.card-doelen{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    padding:48px 0;
    width: 100%;
}

/* .rhc-card{
  inline-size: 100%!important;
}
.rhc-card:hover .rhc-card__heading {
  text-decoration: none!important;
} */

.page-content{
  max-width: 1280px;
  margin:0 auto;
}

.page-content-container {
 background-color: #f3f3f3;
 padding: 48px 0;
}