#root {
  max-width: 1280px;
  margin: 0 auto;
}

.card-doelen{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2 rem;
    padding: 48px 0px;

}

.page-content{
  padding: 48px 56px;
}