/* .rhc-page-footer--primary--filled{
    /* width: 100%; */
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center; 
    align-items: center; 
     */
/* 
    display: flex;            
    justify-content: center; 
    align-items: center;      
    gap: 100px;   
} */ 

.rhc-page-footer__layout{
  
--rhc-page-footer-column-width: 30ch;
} 

