.rhc-nav-bar__link--current
 {
    background-color: var(--nl-link-color);
}

.rhc-nav-bar__link--current .rhc-nav-bar__label
 {
    color: white;
}

.rhc-nav-bar__link--current:hover .rhc-nav-bar__label
 {
    color: var(--nl-link-color);
}

.rhc-nav-bar__link.active {
    color: blue;
    font-weight: bold;
    border-bottom: 2px solid blue;
}




