@import "../node_modules/@utrecht/components/table/src";

.utrecht-table {
  &__cell {
    color: var(--rhc-color-foreground-lint);
  }

  &__header {
    tr:last-child > th {
      border-block-end-color: var(--utrecht-table-header-border-block-end-color);
      border-block-end-style: solid;
      border-block-end-width: var(
        --utrecht-table-header-sticky-border-block-end-width,
        var(--utrecht-table-header-border-block-end-width, 0)
      );
    }
    &-cell-row {
      --utrecht-table-header-cell-font-weight: --utrecht-table-row-border-block-end-width;

      border-block-end-color: var(--utrecht-table-row-border-block-end-color);
      border-block-end-style: solid;
      border-block-end-width: var(--utrecht-table-row-border-block-end-width, 2px);
    }
  }

  &__footer {
    color: var(--utrecht-table-footer-color);
    td {
      --utrecht-table-footer-font-weight: var(--utrecht-table-footer-font-weight, bold);

      font-weight: var(--utrecht-table-footer-font-weight, bold);
    }
  }
}
