@import "../node_modules/@utrecht/components/blockquote/src/";

.utrecht-blockquote {
  --utrecht-blockquote-color: --utrecht-blockquote-content-color;
  --utrecht-blockquote-font-size: --utrecht-blockquote-content-font-size;
  --utrecht-document-font-family: --utrecht-blockquote-content-font-family;

  display: flex;
  flex-direction: column;
  row-gap: var(--utrecht-blockquote-row-gap);
}

.utrecht-blockquote__attribution {
  --utrecht-blockquote-color: --utrecht-blockquote-attribution-color font-family;
  --utrecht-document-font-family: --utrecht-blockquote-attribution-font-family;
}
