/* global CSS here */
body {
  display: flex;
  flex-direction: column;
  margin-block: 0;
  margin-inline: 0;
  padding-block: 0;
  padding-inline: 0;
}

.rhc-templates-page {
  background-color: #f2f4f6;
}

.rhc-templates-unstarted {
  border: 2px dashed red;
}

.rhc-templates-unfinished {
  border: 2px dashed yellow;
}

.rhc-templates-explanation {
  color: red;
}
.rhc-templates-dutch-map {
  --utrecht-icon-size: 48px;
}

.rhc-templates-background-color-white {
  background-color: var(--rhc-color-wit);
}

.rhc-templates-background-color-lint-blauw {
  background-color: var(--rhc-color-lintblauw-500);
}

.rhc-templates-spacing-2 {
  margin-block-end: var(--rhc-space-400);
}

.rhc-templates-main-content {
  align-items: center;
  display: flex;
  justify-content: center;
}

.rhc-templates-page-content {
  --utrecht-page-content-padding-block-end: var(--rhc-space-600);
  --utrecht-page-content-padding-block-start: var(--rhc-space-600);
  --utrecht-page-padding-inline-end: var(--rhc-space-700);
  --utrecht-page-padding-inline-start: var(--rhc-space-700);

  margin-block-end: 80px;
  margin-block-start: 80px;
}

@media (width <= 780px) {
  .rhc-templates-page-content {
    --utrecht-page-content-padding-block-end: var(--rhc-space-50);
    --utrecht-page-content-padding-block-start: var(--rhc-space-50);
    --utrecht-page-padding-inline-end: var(--rhc-space-50);
    --utrecht-page-padding-inline-start: var(--rhc-space-50);

    margin-block-end: 0;
    margin-block-start: 0;
  }
}

.rhc-templates-page-container {
  --utrecht-page-content-padding-block-end: var(--rhc-space-600);
  --utrecht-page-content-padding-block-start: var(--rhc-space-600);
  --utrecht-page-padding-inline-end: var(--rhc-space-700);
  --utrecht-page-padding-inline-start: var(--rhc-space-700);

  column-gap: var(--rhc-space-700);
  display: flex;
  justify-self: center;
  margin-inline: auto;
  max-inline-size: 1100px;
  @media (width <= 780px) {
    --utrecht-page-content-padding-block-end: var(--rhc-space-200);
    --utrecht-page-content-padding-block-start: var(--rhc-space-200);
    --utrecht-page-padding-inline-end: var(--rhc-space-200);
    --utrecht-page-padding-inline-start: var(--rhc-space-200);
  }
}

.rhc-templates-card-container {
  column-gap: 1.5rem;
  display: flex;
  margin-block-end: 4rem;
  margin-block-start: 1.5rem;
}

.rhc-side-nav {
  min-inline-size: 230px;
  @media (width <= 780px) {
    --rhc-sidenav-display: none;
  }
}

.rhc-page-main-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  row-gap: var(--rhc-space-700);
}
