@import "./details/index.css";

/* global CSS here */
body {
  display: flex;
  flex-direction: column;
  margin-block: 0;
  margin-inline: 0;
  padding-block: 0;
  padding-inline: 0;
}

h1 {
  word-break: break-word;
}

.rhc-templates-page {
  background-color: #f2f4f6;
}

.rhc-templates-unstarted {
  border: 2px dashed red;
}

.rhc-templates-unfinished {
  border: 2px dashed yellow;
}

.rhc-templates-explanation {
  color: red;
}
.rhc-templates-dutch-map {
  --utrecht-icon-size: 48px;
}

.rhc-templates-background-color-white {
  background-color: var(--rhc-color-wit);
}

.rhc-templates-background-color-lint-blauw {
  background-color: var(--rhc-color-lintblauw-500);
}

.rhc-templates-spacing-2 {
  margin-block-end: var(--rhc-space-400);
}

.rhc-templates-main-content {
  align-items: center;
  display: flex;
  justify-content: center;
}

.rhc-templates-page-content {
  --utrecht-page-content-padding-block-end: var(--rhc-space-600);
  --utrecht-page-content-padding-block-start: var(--rhc-space-600);
  --utrecht-page-padding-inline-end: var(--rhc-space-700);
  --utrecht-page-padding-inline-start: var(--rhc-space-700);

  box-sizing: border-box;
  inline-size: 100%;
  margin-block-end: 80px;
  margin-block-start: 80px;
  max-inline-size: 64rem;
}

@media (width <= 780px) {
  .rhc-templates-page-content {
    --utrecht-page-content-padding-block-end: var(--rhc-space-400);
    --utrecht-page-content-padding-block-start: var(--rhc-space-400);
    --utrecht-page-padding-inline-end: var(--rhc-space-200);
    --utrecht-page-padding-inline-start: var(--rhc-space-200);

    margin-block-end: var(--rhc-space-0);
    margin-block-start: var(--rhc-space-0);
  }
}

.rhc-templates-page-container {
  --utrecht-page-content-padding-block-end: var(--rhc-space-600);
  --utrecht-page-content-padding-block-start: var(--rhc-space-600);
  --utrecht-page-padding-inline-end: var(--rhc-space-700);
  --utrecht-page-padding-inline-start: var(--rhc-space-700);

  column-gap: var(--rhc-space-700);
  display: flex;
  justify-self: center;
  margin-inline: auto;
  max-inline-size: 1100px;
  @media (width <= 780px) {
    --utrecht-page-content-padding-block-end: var(--rhc-space-400);
    --utrecht-page-content-padding-block-start: var(--rhc-space-400);
    --utrecht-page-padding-inline-end: var(--rhc-space-200);
    --utrecht-page-padding-inline-start: var(--rhc-space-200);
  }
}

.rhc-page-header {
  --utrecht-page-padding-inline-start: var(--rhc-space-0);
  --utrecht-page-padding-inline-end: var(--rhc-space-0);
}

.rhc-templates-card-container {
  column-gap: var(--rhc-space-300);
  display: flex;
  margin-block-end: var(--rhc-space-400);
  margin-block-start: var(--rhc-space-300);
  row-gap: var(--rhc-space-300);
  @media (width <= 780px) {
    flex-direction: column;
  }
}

.rhc-side-nav {
  min-inline-size: 230px;
  @media (width <= 780px) {
    --rhc-sidenav-display: none;
  }
}

.rhc-page-main-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  row-gap: var(--rhc-space-700);
}

@media (width < 780px) {
  .rhc-page-footer {
    --utrecht-page-footer-padding-block-start: var(--rhc-space-400);
    --utrecht-page-footer-padding-block-end: var(--rhc-space-400);
    --utrecht-page-footer-padding-inline-start: var(--rhc-space-200);
    --utrecht-page-footer-padding-inline-end: var(--rhc-space-200);
  }
}

.rhc-page-footer__content {
  --rhc-page-footer-content-padding-inline-start: var(--rhc-space-0);
  --rhc-page-footer-content-padding-inline-end: var(--rhc-space-0);
}

.utrecht-figure {
  margin-inline-end: var(--rhc-space-0);
  margin-inline-start: var(--rhc-space-0);
}

.rhc-nav-bar__list {
  flex-wrap: wrap;
}

/* Testing Marwa CSS */

.rhc-templates-databadge {
  align-items: center;
  background-color: #424242;
  border: 1px solid;
  border-radius: 10px;
  color: #f2f4f6;
  display: inline-flex;
  padding-block: 0.25rem;
  padding-inline: 0.75rem;
  position: relative;
}

.rhc-badge-space {
  gap: 5px !important;
}

.rhc-templates-card {
  column-gap: var(--rhc-space-200);
  display: flex;
  flex-wrap: wrap;
  margin-block-end: var(--rhc-space-200);
  margin-block-start: var(--rhc-space-200);
  min-inline-size: 100% !important;
}

.rhc-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-block-start: var(--rhc-space-500);
}

.rhc-grid-container__left {
  display: flex;
}

.rhc-grid-container__right {
  display: flex;
  flex-direction: column;
  padding-inline-start: 20px;
}

.rhc-templates-button {
  flex-direction: column;
  gap: 2em !important;
  margin-block-start: var(--rhc-space-200) !important;
}

.rhc-opties {
  gap: 2em;
}

.rhc-api-toevoegen {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.rhc-ordered-list {
  list-style-type: none;
  padding-inline-start: 0;
}

.rhc-textarea-spacing {
  padding-block-start: var(--rhc-space-300);
}

.rhc-breadcrum {
  position: relative;
}
