.rhc-data-summary__item-value,
.rhc-data-summary__item-value-row {
  margin-inline-start: 0;
}
.rhc-data-summary__item-key-row {
  flex-basis: 20%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}
.rhc-data-summary__item-action-row {
  margin-inline-start: auto;
}
