@mixin rhc-data-summary {
  font-family: var(--rhc-data-summary-font-family);
  font-size: var(--rhc-data-summary-font-size);
  line-height: var(--rhc-data-summary-line-height);
}

@mixin rhc-data-summary__item {
  border-block-end-style: var(--rhc-data-summary-item-border-block-end-style);
  border-color: var(--rhc-data-summary-item-border-color);
  border-width: var(--rhc-data-summary-item-border-width);
  color: var(--rhc-data-summary-item-color);
  display: var(--rhc-data-summary-item-display);
  flex-direction: var(--rhc-data-summary-item-flex-direction);
}

@mixin rhc-data-summary__item-row {
  border-block-end-style: var(--rhc-data-summary-item-border-block-end-style);
  border-color: var(--rhc-data-summary-item-border-color);
  border-width: var(--rhc-data-summary-item-border-width);
  color: var(--rhc-data-summary-item-color);
  display: var(--rhc-data-summary-item-display);
  flex-direction: var(--rhc-data-summary-item-row-flex-direction);

  @media (width <= 768px) {
    flex-direction: column;
  }
}

@mixin rhc-data-summary__item-action {
  padding-block-end: var(--rhc-data-summary-item-action-padding-block-end);
  padding-block-start: var(--rhc-data-summary-item-action-padding-block-start);
  padding-inline-end: var(--rhc-data-summary-item-action-padding-inline-end);
  padding-inline-start: var(--rhc-data-summary-item-action-padding-inline-start);
}

@mixin rhc-data-summary__item-action-row {
  flex-basis: 20%;
  margin-inline-start: auto;
  padding-block-end: var(--rhc-data-summary-item-action-row-padding-block-end);
  padding-block-start: var(--rhc-data-summary-item-action-row-padding-block-start);
  padding-inline-end: var(--rhc-data-summary-item-action-row-padding-inline-end);
  padding-inline-start: var(--rhc-data-summary-item-action-row-padding-inline-start);
  text-align: end;
}

@mixin rhc-data-summary__item-key {
  font-weight: var(--rhc-data-summary-item-key-font-weight);
  padding-block-end: var(--rhc-data-summary-item-key-padding-block-end);
  padding-block-start: var(--rhc-data-summary-item-key-padding-block-start);
  padding-inline-end: var(--rhc-data-summary-item-key-padding-inline-end);
  padding-inline-start: var(--rhc-data-summary-item-key-padding-inline-start);
}

@mixin rhc-data-summary__item-key-row {
  flex-basis: 20%;
  font-weight: var(--rhc-data-summary-item-key-font-weight);
  padding-block-end: var(--rhc-data-summary-item-key-row-padding-block-end);
  padding-block-start: var(--rhc-data-summary-item-key-row-padding-block-start);
  padding-inline-end: var(--rhc-data-summary-item-key-row-padding-inline-end);
  padding-inline-start: var(--rhc-data-summary-item-key-row-padding-inline-start);
}

@mixin rhc-data-summary__item-value {
  font-weight: var(--rhc-data-summary-item-value-font-weight);
  margin-inline-start: 0;
  padding-block-end: var(--rhc-data-summary-item-value-padding-block-end);
  padding-block-start: var(--rhc-data-summary-item-value-padding-block-start);
  padding-inline-end: var(--rhc-data-summary-item-value-padding-inline-end);
  padding-inline-start: var(--rhc-data-summary-item-value-padding-inline-start);
}

@mixin rhc-data-summary__item-value-row {
  flex: 1;
  font-weight: var(--rhc-data-summary-item-value-row-font-weight);
  margin-inline-start: 0;
  padding-block-end: var(--rhc-data-summary-item-value-row-padding-block-end);
  padding-block-start: var(--rhc-data-summary-item-value-row-padding-block-start);
  padding-inline-end: var(--rhc-data-summary-item-value-row-padding-inline-end);
  padding-inline-start: var(--rhc-data-summary-item-value-row-padding-inline-start);
}
