<!doctype html>
<html lang="nl" dir="ltr" class="rivm-theme utrecht-document">
  <head>
    <meta charset="utf-8" />
    <title>Voorbeeld van Utrecht Web components</title>
    <link rel="stylesheet" href="https://unpkg.com/@utrecht/component-library-css/dist/index.css" />
    <link rel="stylesheet" href="https://unpkg.com/@utrecht/component-library-css/dist/html.css" />
    <link rel="stylesheet" href="https://unpkg.com/@nl-rvo/assets/fonts/index.css" />
    <link rel="stylesheet" href="../../dist/theme.css" />
    <script type="module">
      import { defineCustomElements } from "https://unpkg.com/@utrecht/web-component-library-stencil/loader/index.js";
      defineCustomElements();
    </script>
    <!--
      Dit voorbeeld gebruikt Web Components voor alles.

      In de praktijk wil je waarschijnlijk niet voor álles web components gebruiken, maar kies je voor een hybride aanpak.
    -->
  </head>
  <body class="utrecht-html">
    <utrecht-document>
      <utrecht-article>
        <utrecht-heading-1>Heading 1</utrecht-heading-1>
        <utrecht-heading-2>Heading 2</utrecht-heading-2>
        <utrecht-heading-3>Heading 3</utrecht-heading-3>
        <utrecht-heading-4>Heading 4</utrecht-heading-4>
        <utrecht-heading-5>Heading 5</utrecht-heading-5>
        <utrecht-heading-6>Heading 6</utrecht-heading-6>
        <utrecht-paragraph lead>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.
        </utrecht-paragraph>
        <utrecht-paragraph>
          <utrecht-strong>Paragraph</utrecht-strong>: Lorem ipsum dolor sit amet, <em>consectetur adipiscing elit</em>,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
          exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
          in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id
          <a href="https://example.com" target="_blank" rel="external noreferrer"> est laborum </a>
          .
        </utrecht-paragraph>
      </utrecht-article>
    </utrecht-document>
  </body>
</html>
