<!doctype html>
<html lang="nl" dir="ltr" class="rivm-theme utrecht-document">
  <head>
    <meta charset="utf-8" />
    <title>Voorbeeld van Utrecht CSS components</title>
    <link rel="stylesheet" href="https://unpkg.com/@utrecht/component-library-css/dist/index.css" />
    <link rel="stylesheet" href="https://unpkg.com/@utrecht/component-library-css/dist/html.css" />
    <link rel="stylesheet" href="https://unpkg.com/@nl-rvo/assets/fonts/index.css" />
    <link rel="stylesheet" href="../../dist/theme.css" />
    <!--
      Dit voorbeeld gebruikt BEM class names voor alles, met class="utrecht-document" en class="rivm-theme" op de root
    -->
  </head>
  <body>
    <h1 class="utrecht-heading-1">Hoi</h1>
    <dl class="utrecht-data-list utrecht-data-list--html-dl utrecht-data-list--rows">
      <div class="utrecht-data-list__item">
        <dt class="utrecht-data-list__item-key">Voornaam</dt>
        <dd class="utrecht-data-list__item-value utrecht-data-list__item-value--html-dd">Mees</dd>
      </div>
      <div class="utrecht-data-list__item">
        <dt class="utrecht-data-list__item-key">Achternaam</dt>
        <dd class="utrecht-data-list__item-value utrecht-data-list__item-value--html-dd">de Vos</dd>
      </div>
      <div class="utrecht-data-list__item">
        <dt class="utrecht-data-list__item-key">Adres</dt>
        <dd
          class="utrecht-data-list__item-value utrecht-data-list__item-value--html-dd utrecht-data-list__item-value--multiline"
        >
          Tweede Kamer der Staten-Generaal Postbus 20018 2500 EA Den Haag
        </dd>
      </div>
    </dl>
    ;
  </body>
</html>
