<!doctype html>
<html lang="nl" dir="ltr" class="rivm-theme utrecht-document">
  <head>
    <met charset="utf-8" />
    <title>Voorbeeld van Utrecht CSS components</title>
    <link rel="stylesheet" href="https://unpkg.com/@utrecht/component-library-css/dist/index.css" />
    <link rel="stylesheet" href="https://unpkg.com/@utrecht/component-library-css/dist/html.css" />
    <link rel="stylesheet" href="https://unpkg.com/@nl-rvo/assets/fonts/index.css" />
    <link rel="stylesheet" href="../../dist/theme.css" />
    <!--
      Dit voorbeeld gebruikt BEM class names voor alles, met class="utrecht-document" en class="rivm-theme" op de root
    -->
  </head>
  <body>
    <h1 class="utrecht-heading-1">Hoi</h1>
  </body>
</html>
