.nldoc-rich-text {
  --utrecht-space-around: 1;
}

.nldoc-rich-text--force {
  & > * + * {
    margin-block-start: 1em;
  }
}

.utrecht-button-link {
  --utrecht-icon-size: 16px;
  --utrecht-icon-inset-block-start: -0.22em;
}

.utrecht-icon--nldoc-start {
  margin-inline-end: 1ch;
}

.utrecht-icon--nldoc-end {
  margin-inline-start: 1ch;
}
