.rhc-icon-set {
  display: grid;
  font-family: var(--rhc-text-font-family-default, inherit);
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  margin-block-start: var(--rhc-space-200);
}

.rhc-icon-set-item {
  align-items: center;
  background-color: var(--rhc-color-white);
  border: var(--rhc-border-width-sm) solid var(--rhc-color-zwart);
  border-radius: var(--rhc-border-radius-300);
  box-shadow: var(--rhc-shadow-100);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-block-end: var(--rhc-space-md);
  margin-block-start: 0;
  margin-inline-end: var(--rhc-space-md);
  margin-inline-start: 0;
  padding-block: var(--rhc-space-md);
  padding-inline: var(--rhc-space-md);
  text-align: center;
}
