.rhc-icon-set {
  display: grid;
  font-family: var(--rhc-font-family-default, inherit);
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  margin-block-start: 1rem;
}

.rhc-icon-set-item {
  align-items: center;
  background-color: var(--rhc-color-white);
  border: 1px solid black;
  border-radius: var(--rhc-border-radius-300);
  box-shadow: var(--rhc-shadow-100);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-block-end: 0.5rem;
  margin-block-start: 0;
  margin-inline-end: 0.5rem;
  margin-inline-start: 0;
  padding-block: 0.5rem;
  padding-inline: 0.5rem;
  text-align: center;
}
