.rhc-form-label--checkbox {
  --utrecht-form-label-font-weight: var(--rhc-font-weight-regular, 400);

  align-items: center;
  display: grid;
}

.utrecht-form-field__status {
  grid-column-end: status;
  grid-column-start: status;
  grid-row-end: status;
  grid-row-start: status;
}

.utrecht-form-field--checkbox {
  grid-template-areas: "input label" "input description" "input error-message" "input status";
}
