.rhc-page-footer.rhc-sr-only {
  --utrecht-column-layout-column-width: 30ch;
}

.rhc-page-footer.rhc-sr-only .rhc-page-footer__title {
  block-size: 1px !important;

  /* Source: https://kittygiraudel.com/snippets/sr-only-class/ */
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  inline-size: 1px !important;
  /* stylelint-disable-next-line property-disallowed-list */
  margin: -1px !important;
  overflow: hidden !important;
  /* stylelint-disable-next-line property-disallowed-list */
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
}
