.rhc-card {
  border-color: var(--logius-card-border-color);
  border-style: solid;
  border-width: var(--logius-card-border-width);
  padding-block-end: var(--logius-card-padding-block-end);
  padding-block-start: var(--logius-card-padding-block-start);
  padding-inline-end: var(--logius-card-padding-inline-end);
  padding-inline-start: var(--logius-card-padding-inline-start);
}
