@import "../node_modules/@utrecht/components/breadcrumb-nav/src/";

.utrecht-breadcrumb-nav__link--current {
  color: var(--utrecht-breadcrumb-nav-link-current-color);
  text-decoration: var(--utrecht-breadcrumb-nav-link-current-text-decoration) !important;
}
.utrecht-breadcrumb-nav__separator {
  --utrecht-icon-size: 12px;
}
