.rhc-expandable-checkbox-group__details {
  margin-block-start: var(--rhc-space-100);
}

.rhc-expandable-checkbox-group__summary {
  color: var(--nl-link-color);
  cursor: pointer;
  padding-block-end: var(--rhc-space-100);
  padding-block-start: var(--rhc-space-100);
  text-decoration: underline;
}
