/*
@font-face {
  font-family: RijksoverheidSansWebText;
  font-stretch: 75% 125%;
  font-style: normal;
  font-weight: 200 800;
  src: url(./RijksSansWeb-Regular-3fa799b323bfbb9a10c432010c7fcdcc.woff2) format("woff2-variations");
}
@font-face {
  font-family: RijksoverheidSansWebText;
  font-stretch: 75% 125%;
  font-style: italic;
  font-weight: 200 800;
  src: url(./RijksSansWeb-Italic-c7be999032b71921c445baf7652e457c.woff2) format("woff2-variations");
}
@font-face {
  font-family: RijksoverheidSerifWeb;
  font-style: normal;
  font-weight: 400;
  src: url(./ROserifwebregular-2059cfb95ccaff121a8c4c23c2724260.woff) format("woff");
}
@font-face {
  font-family: RijksoverheidSerifWeb;
  font-style: italic;
  font-weight: 400;
  src: url(./ROserifwebitalic-dc1d33381cdeae927d19e2099cf1de57.woff) format("woff");
}
@font-face {
  font-family: RijksoverheidSerifWeb;
  font-style: normal;
  font-weight: 700;
  src: url(./ROserifwebbold-244e29e6ceb60f95a7191000de19e77a.woff) format("woff");
}
*/
