/* stylelint-disable property-disallowed-list */
.rhc-page-body-container {
  display: flex;
  justify-content: center;
}

.rhc-page-body-children {
  max-width: 72rem;
  padding: 2rem;
  width: 100%;
}
