.rhc-nav-bar__container {
  align-items: center;
  background-color: var(--rhc-nav-bar-background-color);
  border-block-end-color: var(--rhc-nav-bar-border-color);
  border-block-end-style: solid;
  border-block-end-width: var(--rhc-nav-bar-border-block-end-width);
  display: flex;
  inline-size: var(--rhc-nav-bar-container-inline-size);
  justify-content: center;
}

.rhc-nav-bar {
  align-items: center;
  background-color: var(--rhc-nav-bar-background-color);
  color: var(--rhc-nav-bar-color);
  column-gap: var(--rhc-nav-bar-content-column-gap);
  display: flex;
  flex: 1;
  font-family: var(--rhc-text-font-family-default, inherit);
  justify-content: space-between;
  max-inline-size: var(--rhc-nav-bar-max-inline-size);
  row-gap: var(--rhc-nav-bar-content-row-gap);
}

.rhc-nav-bar__list {
  background-color: var(--rhc-nav-bar-background-color);
  display: flex;
  list-style: none;
  margin-block: 0;
  margin-inline: 0;
  padding-block: 0;
  padding-inline: 0;
}

.rhc-nav-bar__list--end {
  margin-inline-start: auto;
}

.rhc-nav-bar__heading {
  font-weight: var(--rhc-nav-bar-heading-font-weight);
}

.rhc-nav-bar__link {
  --nl-link-text-decoration-line: none;
  --utrecht-link-visited-color: var(--rhc-nav-bar-color);
  --nl-link-color: var(--rhc-nav-bar-color);

  font-size: var(--rhc-nav-bar-link-font-size);
  padding-block-end: var(--rhc-nav-bar-link-padding-block-end);
  padding-block-start: var(--rhc-nav-bar-link-padding-block-start);
  padding-inline-end: var(--rhc-nav-bar-link-padding-inline-end);
  padding-inline-start: var(--rhc-nav-bar-link-padding-inline-start);
  text-decoration: none;

  &:active {
    background-color: var(--rhc-nav-bar-link-active-background-color);
    color: var(--rhc-nav-bar-link-active-color);
  }

  &:hover {
    background-color: var(--rhc-nav-bar-link-hover-background-color);
  }

  &:focus {
    background-color: var(--rhc-nav-bar-link-focus-background-color);
    color: var(--rhc-nav-bar-link-focus-color);
  }
}

.rhc-sub-nav-bar {
  --utrecht-column-layout-gap: var(--rhc-sub-nav-bar-column-gap);
  --utrecht-column-layout-column-width: var(--rhc-sub-nav-bar-column-width);

  background-color: var(--rhc-sub-nav-bar-background-color);
  inline-size: var(--rhc-sub-nav-bar-inline-size);
  padding-block-end: calc(var(--rhc-sub-nav-bar-padding-block-end) - var(--rhc-sub-nav-bar-content-list-row-gap));
  padding-block-start: var(--rhc-sub-nav-bar-padding-block-start);
  text-align: center;
}

.rhc-sub-nav-bar__content {
  margin-inline-end: auto;
  margin-inline-start: auto;
  max-inline-size: var(--rhc-sub-nav-bar-content-max-inline-size);
  padding-inline-end: var(--rhc-sub-nav-bar-content-padding-inline-end);
  padding-inline-start: var(--rhc-sub-nav-bar-content-padding-inline-start);
}

.rhc-sub-nav-bar__list {
  break-inside: avoid;
  margin-block-end: var(--rhc-sub-nav-bar-content-list-row-gap);
  text-align: initial;
}
