.rhc-theme {
  --rhc-new-color-light-lintblauw-tint-100: #154273;
  --rhc-new-color-light-lintblauw-tint-75: color-mix(
    in lab,
    var(--rhc-new-color-light-lintblauw-tint-100) 75%,
    var(--basis-color-root-background-color, white) 25%
  );
  --rhc-new-color-light-lintblauw-tint-60: color-mix(
    in lab,
    var(--rhc-new-color-light-lintblauw-tint-100) 60%,
    var(--basis-color-root-background-color, white) 40%
  );
  --rhc-new-color-light-lintblauw-tint-45: color-mix(
    in lab,
    var(--rhc-new-color-light-lintblauw-tint-100) 45%,
    var(--basis-color-root-background-color, white) 55%
  );
  --rhc-new-color-light-lintblauw-tint-30: color-mix(
    in lab,
    var(--rhc-new-color-light-lintblauw-tint-100) 30%,
    var(--basis-color-root-background-color, white) 70%
  );
  --rhc-new-color-light-lintblauw-tint-15: color-mix(
    in lab,
    var(--rhc-new-color-light-lintblauw-tint-100) 15%,
    var(--basis-color-root-background-color, white) 85%
  );
  --rhc-new-color-light-hemelblauw-tint-100: #007bc7;
  --rhc-new-color-light-hemelblauw-tint-75: color-mix(
    in lab,
    var(--rhc-new-color-light-hemelblauw-tint-100) 75%,
    var(--basis-color-root-background-color, white) 25%
  );
  --rhc-new-color-light-hemelblauw-tint-60: color-mix(
    in lab,
    var(--rhc-new-color-light-hemelblauw-tint-100) 60%,
    var(--basis-color-root-background-color, white) 40%
  );
  --rhc-new-color-light-hemelblauw-tint-45: color-mix(
    in lab,
    var(--rhc-new-color-light-hemelblauw-tint-100) 45%,
    var(--basis-color-root-background-color, white) 55%
  );
  --rhc-new-color-light-hemelblauw-tint-30: color-mix(
    in lab,
    var(--rhc-new-color-light-hemelblauw-tint-100) 30%,
    var(--basis-color-root-background-color, white) 70%
  );
  --rhc-new-color-light-hemelblauw-tint-15: color-mix(
    in lab,
    var(--rhc-new-color-light-hemelblauw-tint-100) 15%,
    var(--basis-color-root-background-color, white) 85%
  );
  --rhc-new-color-light-lichtblauw-tint-100: #8fcae7;
  --rhc-new-color-light-lichtblauw-tint-75: color-mix(
    in lab,
    var(--rhc-new-color-light-lichtblauw-tint-100) 75%,
    var(--basis-color-root-background-color, white) 25%
  );
  --rhc-new-color-light-lichtblauw-tint-60: color-mix(
    in lab,
    var(--rhc-new-color-light-lichtblauw-tint-100) 60%,
    var(--basis-color-root-background-color, white) 40%
  );
  --rhc-new-color-light-lichtblauw-tint-45: color-mix(
    in lab,
    var(--rhc-new-color-light-lichtblauw-tint-100) 45%,
    var(--basis-color-root-background-color, white) 55%
  );
  --rhc-new-color-light-lichtblauw-tint-30: color-mix(
    in lab,
    var(--rhc-new-color-light-lichtblauw-tint-100) 30%,
    var(--basis-color-root-background-color, white) 70%
  );
  --rhc-new-color-light-lichtblauw-tint-15: color-mix(
    in lab,
    var(--rhc-new-color-light-lichtblauw-tint-100) 15%,
    var(--basis-color-root-background-color, white) 85%
  );
  --rhc-new-color-light-donkerblauw-tint-100: #01689b;
  --rhc-new-color-light-donkerblauw-tint-75: color-mix(
    in lab,
    var(--rhc-new-color-light-donkerblauw-tint-100) 75%,
    var(--basis-color-root-background-color, white) 25%
  );
  --rhc-new-color-light-donkerblauw-tint-60: color-mix(
    in lab,
    var(--rhc-new-color-light-donkerblauw-tint-100) 60%,
    var(--basis-color-root-background-color, white) 40%
  );
  --rhc-new-color-light-donkerblauw-tint-45: color-mix(
    in lab,
    var(--rhc-new-color-light-donkerblauw-tint-100) 45%,
    var(--basis-color-root-background-color, white) 55%
  );
  --rhc-new-color-light-donkerblauw-tint-30: color-mix(
    in lab,
    var(--rhc-new-color-light-donkerblauw-tint-100) 30%,
    var(--basis-color-root-background-color, white) 70%
  );
  --rhc-new-color-light-donkerblauw-tint-15: color-mix(
    in lab,
    var(--rhc-new-color-light-donkerblauw-tint-100) 15%,
    var(--basis-color-root-background-color, white) 85%
  );
  --rhc-new-color-light-mintgroen-tint-100: #76d2b6;
  --rhc-new-color-light-mintgroen-tint-75: color-mix(
    in lab,
    var(--rhc-new-color-light-mintgroen-tint-100) 75%,
    var(--basis-color-root-background-color, white) 25%
  );
  --rhc-new-color-light-mintgroen-tint-60: color-mix(
    in lab,
    var(--rhc-new-color-light-mintgroen-tint-100) 60%,
    var(--basis-color-root-background-color, white) 40%
  );
  --rhc-new-color-light-mintgroen-tint-45: color-mix(
    in lab,
    var(--rhc-new-color-light-mintgroen-tint-100) 45%,
    var(--basis-color-root-background-color, white) 55%
  );
  --rhc-new-color-light-mintgroen-tint-30: color-mix(
    in lab,
    var(--rhc-new-color-light-mintgroen-tint-100) 30%,
    var(--basis-color-root-background-color, white) 70%
  );
  --rhc-new-color-light-mintgroen-tint-15: color-mix(
    in lab,
    var(--rhc-new-color-light-mintgroen-tint-100) 15%,
    var(--basis-color-root-background-color, white) 85%
  );
  --rhc-new-color-light-groen-tint-100: #39870c;
  --rhc-new-color-light-groen-tint-75: color-mix(
    in lab,
    var(--rhc-new-color-light-groen-tint-100) 75%,
    var(--basis-color-root-background-color, white) 25%
  );
  --rhc-new-color-light-groen-tint-60: color-mix(
    in lab,
    var(--rhc-new-color-light-groen-tint-100) 60%,
    var(--basis-color-root-background-color, white) 40%
  );
  --rhc-new-color-light-groen-tint-45: color-mix(
    in lab,
    var(--rhc-new-color-light-groen-tint-100) 45%,
    var(--basis-color-root-background-color, white) 55%
  );
  --rhc-new-color-light-groen-tint-30: color-mix(
    in lab,
    var(--rhc-new-color-light-groen-tint-100) 30%,
    var(--basis-color-root-background-color, white) 70%
  );
  --rhc-new-color-light-groen-tint-15: color-mix(
    in lab,
    var(--rhc-new-color-light-groen-tint-100) 15%,
    var(--basis-color-root-background-color, white) 85%
  );
  --rhc-new-color-light-donkergroen-tint-100: #275937;
  --rhc-new-color-light-donkergroen-tint-75: color-mix(
    in lab,
    var(--rhc-new-color-light-donkergroen-tint-100) 75%,
    var(--basis-color-root-background-color, white) 25%
  );
  --rhc-new-color-light-donkergroen-tint-60: color-mix(
    in lab,
    var(--rhc-new-color-light-donkergroen-tint-100) 60%,
    var(--basis-color-root-background-color, white) 40%
  );
  --rhc-new-color-light-donkergroen-tint-45: color-mix(
    in lab,
    var(--rhc-new-color-light-donkergroen-tint-100) 45%,
    var(--basis-color-root-background-color, white) 55%
  );
  --rhc-new-color-light-donkergroen-tint-30: color-mix(
    in lab,
    var(--rhc-new-color-light-donkergroen-tint-100) 30%,
    var(--basis-color-root-background-color, white) 70%
  );
  --rhc-new-color-light-donkergroen-tint-15: color-mix(
    in lab,
    var(--rhc-new-color-light-donkergroen-tint-100) 15%,
    var(--basis-color-root-background-color, white) 85%
  );
  --rhc-new-color-light-mosgroen-tint-100: #777b00;
  --rhc-new-color-light-mosgroen-tint-75: color-mix(
    in lab,
    var(--rhc-new-color-light-mosgroen-tint-100) 75%,
    var(--basis-color-root-background-color, white) 25%
  );
  --rhc-new-color-light-mosgroen-tint-60: color-mix(
    in lab,
    var(--rhc-new-color-light-mosgroen-tint-100) 60%,
    var(--basis-color-root-background-color, white) 40%
  );
  --rhc-new-color-light-mosgroen-tint-45: color-mix(
    in lab,
    var(--rhc-new-color-light-mosgroen-tint-100) 45%,
    var(--basis-color-root-background-color, white) 55%
  );
  --rhc-new-color-light-mosgroen-tint-30: color-mix(
    in lab,
    var(--rhc-new-color-light-mosgroen-tint-100) 30%,
    var(--basis-color-root-background-color, white) 70%
  );
  --rhc-new-color-light-mosgroen-tint-15: color-mix(
    in lab,
    var(--rhc-new-color-light-mosgroen-tint-100) 15%,
    var(--basis-color-root-background-color, white) 85%
  );
  --rhc-new-color-light-geel-tint-100: #f9e11e;
  --rhc-new-color-light-geel-tint-75: color-mix(
    in lab,
    var(--rhc-new-color-light-geel-tint-100) 75%,
    var(--basis-color-root-background-color, white) 25%
  );
  --rhc-new-color-light-geel-tint-60: color-mix(
    in lab,
    var(--rhc-new-color-light-geel-tint-100) 60%,
    var(--basis-color-root-background-color, white) 40%
  );
  --rhc-new-color-light-geel-tint-45: color-mix(
    in lab,
    var(--rhc-new-color-light-geel-tint-100) 45%,
    var(--basis-color-root-background-color, white) 55%
  );
  --rhc-new-color-light-geel-tint-30: color-mix(
    in lab,
    var(--rhc-new-color-light-geel-tint-100) 30%,
    var(--basis-color-root-background-color, white) 70%
  );
  --rhc-new-color-light-geel-tint-15: color-mix(
    in lab,
    var(--rhc-new-color-light-geel-tint-100) 15%,
    var(--basis-color-root-background-color, white) 85%
  );
  --rhc-new-color-light-donkergeel-tint-100: #ffb612;
  --rhc-new-color-light-donkergeel-tint-75: color-mix(
    in lab,
    var(--rhc-new-color-light-donkergeel-tint-100) 75%,
    var(--basis-color-root-background-color, white) 25%
  );
  --rhc-new-color-light-donkergeel-tint-60: color-mix(
    in lab,
    var(--rhc-new-color-light-donkergeel-tint-100) 60%,
    var(--basis-color-root-background-color, white) 40%
  );
  --rhc-new-color-light-donkergeel-tint-45: color-mix(
    in lab,
    var(--rhc-new-color-light-donkergeel-tint-100) 45%,
    var(--basis-color-root-background-color, white) 55%
  );
  --rhc-new-color-light-donkergeel-tint-30: color-mix(
    in lab,
    var(--rhc-new-color-light-donkergeel-tint-100) 30%,
    var(--basis-color-root-background-color, white) 70%
  );
  --rhc-new-color-light-donkergeel-tint-15: color-mix(
    in lab,
    var(--rhc-new-color-light-donkergeel-tint-100) 15%,
    var(--basis-color-root-background-color, white) 85%
  );
  --rhc-new-color-light-oranje-tint-100: #e17000;
  --rhc-new-color-light-oranje-tint-75: color-mix(
    in lab,
    var(--rhc-new-color-light-oranje-tint-100) 75%,
    var(--basis-color-root-background-color, white) 25%
  );
  --rhc-new-color-light-oranje-tint-60: color-mix(
    in lab,
    var(--rhc-new-color-light-oranje-tint-100) 60%,
    var(--basis-color-root-background-color, white) 40%
  );
  --rhc-new-color-light-oranje-tint-45: color-mix(
    in lab,
    var(--rhc-new-color-light-oranje-tint-100) 45%,
    var(--basis-color-root-background-color, white) 55%
  );
  --rhc-new-color-light-oranje-tint-30: color-mix(
    in lab,
    var(--rhc-new-color-light-oranje-tint-100) 30%,
    var(--basis-color-root-background-color, white) 70%
  );
  --rhc-new-color-light-oranje-tint-15: color-mix(
    in lab,
    var(--rhc-new-color-light-oranje-tint-100) 15%,
    var(--basis-color-root-background-color, white) 85%
  );
  --rhc-new-color-light-rood-tint-100: #d52b1e;
  --rhc-new-color-light-rood-tint-75: color-mix(
    in lab,
    var(--rhc-new-color-light-rood-tint-100) 75%,
    var(--basis-color-root-background-color, white) 25%
  );
  --rhc-new-color-light-rood-tint-60: color-mix(
    in lab,
    var(--rhc-new-color-light-rood-tint-100) 60%,
    var(--basis-color-root-background-color, white) 40%
  );
  --rhc-new-color-light-rood-tint-45: color-mix(
    in lab,
    var(--rhc-new-color-light-rood-tint-100) 45%,
    var(--basis-color-root-background-color, white) 55%
  );
  --rhc-new-color-light-rood-tint-30: color-mix(
    in lab,
    var(--rhc-new-color-light-rood-tint-100) 30%,
    var(--basis-color-root-background-color, white) 70%
  );
  --rhc-new-color-light-rood-tint-15: color-mix(
    in lab,
    var(--rhc-new-color-light-rood-tint-100) 15%,
    var(--basis-color-root-background-color, white) 85%
  );
  --rhc-new-color-light-robijnrood-tint-100: #ca005d;
  --rhc-new-color-light-robijnrood-tint-75: color-mix(
    in lab,
    var(--rhc-new-color-light-robijnrood-tint-100) 75%,
    var(--basis-color-root-background-color, white) 25%
  );
  --rhc-new-color-light-robijnrood-tint-60: color-mix(
    in lab,
    var(--rhc-new-color-light-robijnrood-tint-100) 60%,
    var(--basis-color-root-background-color, white) 40%
  );
  --rhc-new-color-light-robijnrood-tint-45: color-mix(
    in lab,
    var(--rhc-new-color-light-robijnrood-tint-100) 45%,
    var(--basis-color-root-background-color, white) 55%
  );
  --rhc-new-color-light-robijnrood-tint-30: color-mix(
    in lab,
    var(--rhc-new-color-light-robijnrood-tint-100) 30%,
    var(--basis-color-root-background-color, white) 70%
  );
  --rhc-new-color-light-robijnrood-tint-15: color-mix(
    in lab,
    var(--rhc-new-color-light-robijnrood-tint-100) 15%,
    var(--basis-color-root-background-color, white) 85%
  );
  --rhc-new-color-light-violet-tint-100: #a90061;
  --rhc-new-color-light-violet-tint-75: color-mix(
    in lab,
    var(--rhc-new-color-light-violet-tint-100) 75%,
    var(--basis-color-root-background-color, white) 25%
  );
  --rhc-new-color-light-violet-tint-60: color-mix(
    in lab,
    var(--rhc-new-color-light-violet-tint-100) 60%,
    var(--basis-color-root-background-color, white) 40%
  );
  --rhc-new-color-light-violet-tint-45: color-mix(
    in lab,
    var(--rhc-new-color-light-violet-tint-100) 45%,
    var(--basis-color-root-background-color, white) 55%
  );
  --rhc-new-color-light-violet-tint-30: color-mix(
    in lab,
    var(--rhc-new-color-light-violet-tint-100) 30%,
    var(--basis-color-root-background-color, white) 70%
  );
  --rhc-new-color-light-violet-tint-15: color-mix(
    in lab,
    var(--rhc-new-color-light-violet-tint-100) 15%,
    var(--basis-color-root-background-color, white) 85%
  );
  --rhc-new-color-light-roze-tint-100: #f092cd;
  --rhc-new-color-light-roze-tint-75: color-mix(
    in lab,
    var(--rhc-new-color-light-roze-tint-100) 75%,
    var(--basis-color-root-background-color, white) 25%
  );
  --rhc-new-color-light-roze-tint-60: color-mix(
    in lab,
    var(--rhc-new-color-light-roze-tint-100) 60%,
    var(--basis-color-root-background-color, white) 40%
  );
  --rhc-new-color-light-roze-tint-45: color-mix(
    in lab,
    var(--rhc-new-color-light-roze-tint-100) 45%,
    var(--basis-color-root-background-color, white) 55%
  );
  --rhc-new-color-light-roze-tint-30: color-mix(
    in lab,
    var(--rhc-new-color-light-roze-tint-100) 30%,
    var(--basis-color-root-background-color, white) 70%
  );
  --rhc-new-color-light-roze-tint-15: color-mix(
    in lab,
    var(--rhc-new-color-light-roze-tint-100) 15%,
    var(--basis-color-root-background-color, white) 85%
  );
  --rhc-new-color-light-paars-tint-100: #42145f;
  --rhc-new-color-light-paars-tint-75: color-mix(
    in lab,
    var(--rhc-new-color-light-paars-tint-100) 75%,
    var(--basis-color-root-background-color, white) 25%
  );
  --rhc-new-color-light-paars-tint-60: color-mix(
    in lab,
    var(--rhc-new-color-light-paars-tint-100) 60%,
    var(--basis-color-root-background-color, white) 40%
  );
  --rhc-new-color-light-paars-tint-45: color-mix(
    in lab,
    var(--rhc-new-color-light-paars-tint-100) 45%,
    var(--basis-color-root-background-color, white) 55%
  );
  --rhc-new-color-light-paars-tint-30: color-mix(
    in lab,
    var(--rhc-new-color-light-paars-tint-100) 30%,
    var(--basis-color-root-background-color, white) 70%
  );
  --rhc-new-color-light-paars-tint-15: color-mix(
    in lab,
    var(--rhc-new-color-light-paars-tint-100) 15%,
    var(--basis-color-root-background-color, white) 85%
  );
  --rhc-new-color-light-donkerbruin-tint-100: #673327;
  --rhc-new-color-light-donkerbruin-tint-75: color-mix(
    in lab,
    var(--rhc-new-color-light-donkerbruin-tint-100) 75%,
    var(--basis-color-root-background-color, white) 25%
  );
  --rhc-new-color-light-donkerbruin-tint-60: color-mix(
    in lab,
    var(--rhc-new-color-light-donkerbruin-tint-100) 60%,
    var(--basis-color-root-background-color, white) 40%
  );
  --rhc-new-color-light-donkerbruin-tint-45: color-mix(
    in lab,
    var(--rhc-new-color-light-donkerbruin-tint-100) 45%,
    var(--basis-color-root-background-color, white) 55%
  );
  --rhc-new-color-light-donkerbruin-tint-30: color-mix(
    in lab,
    var(--rhc-new-color-light-donkerbruin-tint-100) 30%,
    var(--basis-color-root-background-color, white) 70%
  );
  --rhc-new-color-light-donkerbruin-tint-15: color-mix(
    in lab,
    var(--rhc-new-color-light-donkerbruin-tint-100) 15%,
    var(--basis-color-root-background-color, white) 85%
  );
  --rhc-new-color-light-bruin-tint-100: #94710a;
  --rhc-new-color-light-bruin-tint-75: color-mix(
    in lab,
    var(--rhc-new-color-light-bruin-tint-100) 75%,
    var(--basis-color-root-background-color, white) 25%
  );
  --rhc-new-color-light-bruin-tint-60: color-mix(
    in lab,
    var(--rhc-new-color-light-bruin-tint-100) 60%,
    var(--basis-color-root-background-color, white) 40%
  );
  --rhc-new-color-light-bruin-tint-45: color-mix(
    in lab,
    var(--rhc-new-color-light-bruin-tint-100) 45%,
    var(--basis-color-root-background-color, white) 55%
  );
  --rhc-new-color-light-bruin-tint-30: color-mix(
    in lab,
    var(--rhc-new-color-light-bruin-tint-100) 30%,
    var(--basis-color-root-background-color, white) 70%
  );
  --rhc-new-color-light-bruin-tint-15: color-mix(
    in lab,
    var(--rhc-new-color-light-bruin-tint-100) 15%,
    var(--basis-color-root-background-color, white) 85%
  );
  --rhc-new-color-dark-lintblauw-tint-100: #154273;

  --rhc-new-color-dark-lintblauw-tint-100: color-mix(
    in lab,
    var(--rhc-new-color-light-lintblauw-tint-100) 90%,
    white 10%
  );
  --rhc-new-color-dark-lintblauw-tint-100: Red;
  --rhc-new-color-dark-lintblauw-tint-75: color-mix(
    in lab,
    var(--rhc-new-color-dark-lintblauw-tint-100) 75%,
    var(--basis-color-root-background-color, black) 25%
  );
  --rhc-new-color-dark-lintblauw-tint-60: color-mix(
    in lab,
    var(--rhc-new-color-dark-lintblauw-tint-100) 60%,
    var(--basis-color-root-background-color, black) 40%
  );
  --rhc-new-color-dark-lintblauw-tint-45: color-mix(
    in lab,
    var(--rhc-new-color-dark-lintblauw-tint-100) 45%,
    var(--basis-color-root-background-color, black) 55%
  );
  --rhc-new-color-dark-lintblauw-tint-30: color-mix(
    in lab,
    var(--rhc-new-color-dark-lintblauw-tint-100) 30%,
    var(--basis-color-root-background-color, black) 70%
  );
  --rhc-new-color-dark-lintblauw-tint-15: color-mix(
    in lab,
    var(--rhc-new-color-dark-lintblauw-tint-100) 15%,
    var(--basis-color-root-background-color, black) 85%
  );
  --rhc-new-color-dark-hemelblauw-tint-100: #007bc7;
  --rhc-new-color-dark-hemelblauw-tint-75: color-mix(
    in lab,
    var(--rhc-new-color-dark-hemelblauw-tint-100) 75%,
    var(--basis-color-root-background-color, black) 25%
  );
  --rhc-new-color-dark-hemelblauw-tint-60: color-mix(
    in lab,
    var(--rhc-new-color-dark-hemelblauw-tint-100) 60%,
    var(--basis-color-root-background-color, black) 40%
  );
  --rhc-new-color-dark-hemelblauw-tint-45: color-mix(
    in lab,
    var(--rhc-new-color-dark-hemelblauw-tint-100) 45%,
    var(--basis-color-root-background-color, black) 55%
  );
  --rhc-new-color-dark-hemelblauw-tint-30: color-mix(
    in lab,
    var(--rhc-new-color-dark-hemelblauw-tint-100) 30%,
    var(--basis-color-root-background-color, black) 70%
  );
  --rhc-new-color-dark-hemelblauw-tint-15: color-mix(
    in lab,
    var(--rhc-new-color-dark-hemelblauw-tint-100) 15%,
    var(--basis-color-root-background-color, black) 85%
  );
  --rhc-new-color-dark-lichtblauw-tint-100: #8fcae7;
  --rhc-new-color-dark-lichtblauw-tint-75: color-mix(
    in lab,
    var(--rhc-new-color-dark-lichtblauw-tint-100) 75%,
    var(--basis-color-root-background-color, black) 25%
  );
  --rhc-new-color-dark-lichtblauw-tint-60: color-mix(
    in lab,
    var(--rhc-new-color-dark-lichtblauw-tint-100) 60%,
    var(--basis-color-root-background-color, black) 40%
  );
  --rhc-new-color-dark-lichtblauw-tint-45: color-mix(
    in lab,
    var(--rhc-new-color-dark-lichtblauw-tint-100) 45%,
    var(--basis-color-root-background-color, black) 55%
  );
  --rhc-new-color-dark-lichtblauw-tint-30: color-mix(
    in lab,
    var(--rhc-new-color-dark-lichtblauw-tint-100) 30%,
    var(--basis-color-root-background-color, black) 70%
  );
  --rhc-new-color-dark-lichtblauw-tint-15: color-mix(
    in lab,
    var(--rhc-new-color-dark-lichtblauw-tint-100) 15%,
    var(--basis-color-root-background-color, black) 85%
  );
  --rhc-new-color-dark-donkerblauw-tint-100: #01689b;
  --rhc-new-color-dark-donkerblauw-tint-75: color-mix(
    in lab,
    var(--rhc-new-color-dark-donkerblauw-tint-100) 75%,
    var(--basis-color-root-background-color, black) 25%
  );
  --rhc-new-color-dark-donkerblauw-tint-60: color-mix(
    in lab,
    var(--rhc-new-color-dark-donkerblauw-tint-100) 60%,
    var(--basis-color-root-background-color, black) 40%
  );
  --rhc-new-color-dark-donkerblauw-tint-45: color-mix(
    in lab,
    var(--rhc-new-color-dark-donkerblauw-tint-100) 45%,
    var(--basis-color-root-background-color, black) 55%
  );
  --rhc-new-color-dark-donkerblauw-tint-30: color-mix(
    in lab,
    var(--rhc-new-color-dark-donkerblauw-tint-100) 30%,
    var(--basis-color-root-background-color, black) 70%
  );
  --rhc-new-color-dark-donkerblauw-tint-15: color-mix(
    in lab,
    var(--rhc-new-color-dark-donkerblauw-tint-100) 15%,
    var(--basis-color-root-background-color, black) 85%
  );
  --rhc-new-color-dark-mintgroen-tint-100: #76d2b6;
  --rhc-new-color-dark-mintgroen-tint-75: color-mix(
    in lab,
    var(--rhc-new-color-dark-mintgroen-tint-100) 75%,
    var(--basis-color-root-background-color, black) 25%
  );
  --rhc-new-color-dark-mintgroen-tint-60: color-mix(
    in lab,
    var(--rhc-new-color-dark-mintgroen-tint-100) 60%,
    var(--basis-color-root-background-color, black) 40%
  );
  --rhc-new-color-dark-mintgroen-tint-45: color-mix(
    in lab,
    var(--rhc-new-color-dark-mintgroen-tint-100) 45%,
    var(--basis-color-root-background-color, black) 55%
  );
  --rhc-new-color-dark-mintgroen-tint-30: color-mix(
    in lab,
    var(--rhc-new-color-dark-mintgroen-tint-100) 30%,
    var(--basis-color-root-background-color, black) 70%
  );
  --rhc-new-color-dark-mintgroen-tint-15: color-mix(
    in lab,
    var(--rhc-new-color-dark-mintgroen-tint-100) 15%,
    var(--basis-color-root-background-color, black) 85%
  );
  --rhc-new-color-dark-groen-tint-100: #39870c;
  --rhc-new-color-dark-groen-tint-75: color-mix(
    in lab,
    var(--rhc-new-color-dark-groen-tint-100) 75%,
    var(--basis-color-root-background-color, black) 25%
  );
  --rhc-new-color-dark-groen-tint-60: color-mix(
    in lab,
    var(--rhc-new-color-dark-groen-tint-100) 60%,
    var(--basis-color-root-background-color, black) 40%
  );
  --rhc-new-color-dark-groen-tint-45: color-mix(
    in lab,
    var(--rhc-new-color-dark-groen-tint-100) 45%,
    var(--basis-color-root-background-color, black) 55%
  );
  --rhc-new-color-dark-groen-tint-30: color-mix(
    in lab,
    var(--rhc-new-color-dark-groen-tint-100) 30%,
    var(--basis-color-root-background-color, black) 70%
  );
  --rhc-new-color-dark-groen-tint-15: color-mix(
    in lab,
    var(--rhc-new-color-dark-groen-tint-100) 15%,
    var(--basis-color-root-background-color, black) 85%
  );
  --rhc-new-color-dark-donkergroen-tint-100: #275937;
  --rhc-new-color-dark-donkergroen-tint-75: color-mix(
    in lab,
    var(--rhc-new-color-dark-donkergroen-tint-100) 75%,
    var(--basis-color-root-background-color, black) 25%
  );
  --rhc-new-color-dark-donkergroen-tint-60: color-mix(
    in lab,
    var(--rhc-new-color-dark-donkergroen-tint-100) 60%,
    var(--basis-color-root-background-color, black) 40%
  );
  --rhc-new-color-dark-donkergroen-tint-45: color-mix(
    in lab,
    var(--rhc-new-color-dark-donkergroen-tint-100) 45%,
    var(--basis-color-root-background-color, black) 55%
  );
  --rhc-new-color-dark-donkergroen-tint-30: color-mix(
    in lab,
    var(--rhc-new-color-dark-donkergroen-tint-100) 30%,
    var(--basis-color-root-background-color, black) 70%
  );
  --rhc-new-color-dark-donkergroen-tint-15: color-mix(
    in lab,
    var(--rhc-new-color-dark-donkergroen-tint-100) 15%,
    var(--basis-color-root-background-color, black) 85%
  );
  --rhc-new-color-dark-mosgroen-tint-100: #777b00;
  --rhc-new-color-dark-mosgroen-tint-75: color-mix(
    in lab,
    var(--rhc-new-color-dark-mosgroen-tint-100) 75%,
    var(--basis-color-root-background-color, black) 25%
  );
  --rhc-new-color-dark-mosgroen-tint-60: color-mix(
    in lab,
    var(--rhc-new-color-dark-mosgroen-tint-100) 60%,
    var(--basis-color-root-background-color, black) 40%
  );
  --rhc-new-color-dark-mosgroen-tint-45: color-mix(
    in lab,
    var(--rhc-new-color-dark-mosgroen-tint-100) 45%,
    var(--basis-color-root-background-color, black) 55%
  );
  --rhc-new-color-dark-mosgroen-tint-30: color-mix(
    in lab,
    var(--rhc-new-color-dark-mosgroen-tint-100) 30%,
    var(--basis-color-root-background-color, black) 70%
  );
  --rhc-new-color-dark-mosgroen-tint-15: color-mix(
    in lab,
    var(--rhc-new-color-dark-mosgroen-tint-100) 15%,
    var(--basis-color-root-background-color, black) 85%
  );
  --rhc-new-color-dark-geel-tint-100: #f9e11e;
  --rhc-new-color-dark-geel-tint-75: color-mix(
    in lab,
    var(--rhc-new-color-dark-geel-tint-100) 75%,
    var(--basis-color-root-background-color, black) 25%
  );
  --rhc-new-color-dark-geel-tint-60: color-mix(
    in lab,
    var(--rhc-new-color-dark-geel-tint-100) 60%,
    var(--basis-color-root-background-color, black) 40%
  );
  --rhc-new-color-dark-geel-tint-45: color-mix(
    in lab,
    var(--rhc-new-color-dark-geel-tint-100) 45%,
    var(--basis-color-root-background-color, black) 55%
  );
  --rhc-new-color-dark-geel-tint-30: color-mix(
    in lab,
    var(--rhc-new-color-dark-geel-tint-100) 30%,
    var(--basis-color-root-background-color, black) 70%
  );
  --rhc-new-color-dark-geel-tint-15: color-mix(
    in lab,
    var(--rhc-new-color-dark-geel-tint-100) 15%,
    var(--basis-color-root-background-color, black) 85%
  );
  --rhc-new-color-dark-donkergeel-tint-100: #ffb612;
  --rhc-new-color-dark-donkergeel-tint-75: color-mix(
    in lab,
    var(--rhc-new-color-dark-donkergeel-tint-100) 75%,
    var(--basis-color-root-background-color, black) 25%
  );
  --rhc-new-color-dark-donkergeel-tint-60: color-mix(
    in lab,
    var(--rhc-new-color-dark-donkergeel-tint-100) 60%,
    var(--basis-color-root-background-color, black) 40%
  );
  --rhc-new-color-dark-donkergeel-tint-45: color-mix(
    in lab,
    var(--rhc-new-color-dark-donkergeel-tint-100) 45%,
    var(--basis-color-root-background-color, black) 55%
  );
  --rhc-new-color-dark-donkergeel-tint-30: color-mix(
    in lab,
    var(--rhc-new-color-dark-donkergeel-tint-100) 30%,
    var(--basis-color-root-background-color, black) 70%
  );
  --rhc-new-color-dark-donkergeel-tint-15: color-mix(
    in lab,
    var(--rhc-new-color-dark-donkergeel-tint-100) 15%,
    var(--basis-color-root-background-color, black) 85%
  );
  --rhc-new-color-dark-oranje-tint-100: #e17000;
  --rhc-new-color-dark-oranje-tint-75: color-mix(
    in lab,
    var(--rhc-new-color-dark-oranje-tint-100) 75%,
    var(--basis-color-root-background-color, black) 25%
  );
  --rhc-new-color-dark-oranje-tint-60: color-mix(
    in lab,
    var(--rhc-new-color-dark-oranje-tint-100) 60%,
    var(--basis-color-root-background-color, black) 40%
  );
  --rhc-new-color-dark-oranje-tint-45: color-mix(
    in lab,
    var(--rhc-new-color-dark-oranje-tint-100) 45%,
    var(--basis-color-root-background-color, black) 55%
  );
  --rhc-new-color-dark-oranje-tint-30: color-mix(
    in lab,
    var(--rhc-new-color-dark-oranje-tint-100) 30%,
    var(--basis-color-root-background-color, black) 70%
  );
  --rhc-new-color-dark-oranje-tint-15: color-mix(
    in lab,
    var(--rhc-new-color-dark-oranje-tint-100) 15%,
    var(--basis-color-root-background-color, black) 85%
  );
  --rhc-new-color-dark-rood-tint-100: #d52b1e;
  --rhc-new-color-dark-rood-tint-75: color-mix(
    in lab,
    var(--rhc-new-color-dark-rood-tint-100) 75%,
    var(--basis-color-root-background-color, black) 25%
  );
  --rhc-new-color-dark-rood-tint-60: color-mix(
    in lab,
    var(--rhc-new-color-dark-rood-tint-100) 60%,
    var(--basis-color-root-background-color, black) 40%
  );
  --rhc-new-color-dark-rood-tint-45: color-mix(
    in lab,
    var(--rhc-new-color-dark-rood-tint-100) 45%,
    var(--basis-color-root-background-color, black) 55%
  );
  --rhc-new-color-dark-rood-tint-30: color-mix(
    in lab,
    var(--rhc-new-color-dark-rood-tint-100) 30%,
    var(--basis-color-root-background-color, black) 70%
  );
  --rhc-new-color-dark-rood-tint-15: color-mix(
    in lab,
    var(--rhc-new-color-dark-rood-tint-100) 15%,
    var(--basis-color-root-background-color, black) 85%
  );
  --rhc-new-color-dark-robijnrood-tint-100: #ca005d;
  --rhc-new-color-dark-robijnrood-tint-75: color-mix(
    in lab,
    var(--rhc-new-color-dark-robijnrood-tint-100) 75%,
    var(--basis-color-root-background-color, black) 25%
  );
  --rhc-new-color-dark-robijnrood-tint-60: color-mix(
    in lab,
    var(--rhc-new-color-dark-robijnrood-tint-100) 60%,
    var(--basis-color-root-background-color, black) 40%
  );
  --rhc-new-color-dark-robijnrood-tint-45: color-mix(
    in lab,
    var(--rhc-new-color-dark-robijnrood-tint-100) 45%,
    var(--basis-color-root-background-color, black) 55%
  );
  --rhc-new-color-dark-robijnrood-tint-30: color-mix(
    in lab,
    var(--rhc-new-color-dark-robijnrood-tint-100) 30%,
    var(--basis-color-root-background-color, black) 70%
  );
  --rhc-new-color-dark-robijnrood-tint-15: color-mix(
    in lab,
    var(--rhc-new-color-dark-robijnrood-tint-100) 15%,
    var(--basis-color-root-background-color, black) 85%
  );
  --rhc-new-color-dark-violet-tint-100: #a90061;
  --rhc-new-color-dark-violet-tint-75: color-mix(
    in lab,
    var(--rhc-new-color-dark-violet-tint-100) 75%,
    var(--basis-color-root-background-color, black) 25%
  );
  --rhc-new-color-dark-violet-tint-60: color-mix(
    in lab,
    var(--rhc-new-color-dark-violet-tint-100) 60%,
    var(--basis-color-root-background-color, black) 40%
  );
  --rhc-new-color-dark-violet-tint-45: color-mix(
    in lab,
    var(--rhc-new-color-dark-violet-tint-100) 45%,
    var(--basis-color-root-background-color, black) 55%
  );
  --rhc-new-color-dark-violet-tint-30: color-mix(
    in lab,
    var(--rhc-new-color-dark-violet-tint-100) 30%,
    var(--basis-color-root-background-color, black) 70%
  );
  --rhc-new-color-dark-violet-tint-15: color-mix(
    in lab,
    var(--rhc-new-color-dark-violet-tint-100) 15%,
    var(--basis-color-root-background-color, black) 85%
  );
  --rhc-new-color-dark-roze-tint-100: #f092cd;
  --rhc-new-color-dark-roze-tint-75: color-mix(
    in lab,
    var(--rhc-new-color-dark-roze-tint-100) 75%,
    var(--basis-color-root-background-color, black) 25%
  );
  --rhc-new-color-dark-roze-tint-60: color-mix(
    in lab,
    var(--rhc-new-color-dark-roze-tint-100) 60%,
    var(--basis-color-root-background-color, black) 40%
  );
  --rhc-new-color-dark-roze-tint-45: color-mix(
    in lab,
    var(--rhc-new-color-dark-roze-tint-100) 45%,
    var(--basis-color-root-background-color, black) 55%
  );
  --rhc-new-color-dark-roze-tint-30: color-mix(
    in lab,
    var(--rhc-new-color-dark-roze-tint-100) 30%,
    var(--basis-color-root-background-color, black) 70%
  );
  --rhc-new-color-dark-roze-tint-15: color-mix(
    in lab,
    var(--rhc-new-color-dark-roze-tint-100) 15%,
    var(--basis-color-root-background-color, black) 85%
  );
  --rhc-new-color-dark-paars-tint-100: #42145f;
  --rhc-new-color-dark-paars-tint-75: color-mix(
    in lab,
    var(--rhc-new-color-dark-paars-tint-100) 75%,
    var(--basis-color-root-background-color, black) 25%
  );
  --rhc-new-color-dark-paars-tint-60: color-mix(
    in lab,
    var(--rhc-new-color-dark-paars-tint-100) 60%,
    var(--basis-color-root-background-color, black) 40%
  );
  --rhc-new-color-dark-paars-tint-45: color-mix(
    in lab,
    var(--rhc-new-color-dark-paars-tint-100) 45%,
    var(--basis-color-root-background-color, black) 55%
  );
  --rhc-new-color-dark-paars-tint-30: color-mix(
    in lab,
    var(--rhc-new-color-dark-paars-tint-100) 30%,
    var(--basis-color-root-background-color, black) 70%
  );
  --rhc-new-color-dark-paars-tint-15: color-mix(
    in lab,
    var(--rhc-new-color-dark-paars-tint-100) 15%,
    var(--basis-color-root-background-color, black) 85%
  );
  --rhc-new-color-dark-donkerbruin-tint-100: #673327;
  --rhc-new-color-dark-donkerbruin-tint-75: color-mix(
    in lab,
    var(--rhc-new-color-dark-donkerbruin-tint-100) 75%,
    var(--basis-color-root-background-color, black) 25%
  );
  --rhc-new-color-dark-donkerbruin-tint-60: color-mix(
    in lab,
    var(--rhc-new-color-dark-donkerbruin-tint-100) 60%,
    var(--basis-color-root-background-color, black) 40%
  );
  --rhc-new-color-dark-donkerbruin-tint-45: color-mix(
    in lab,
    var(--rhc-new-color-dark-donkerbruin-tint-100) 45%,
    var(--basis-color-root-background-color, black) 55%
  );
  --rhc-new-color-dark-donkerbruin-tint-30: color-mix(
    in lab,
    var(--rhc-new-color-dark-donkerbruin-tint-100) 30%,
    var(--basis-color-root-background-color, black) 70%
  );
  --rhc-new-color-dark-donkerbruin-tint-15: color-mix(
    in lab,
    var(--rhc-new-color-dark-donkerbruin-tint-100) 15%,
    var(--basis-color-root-background-color, black) 85%
  );
  --rhc-new-color-dark-bruin-tint-100: #94710a;
  --rhc-new-color-dark-bruin-tint-75: color-mix(
    in lab,
    var(--rhc-new-color-dark-bruin-tint-100) 75%,
    var(--basis-color-root-background-color, black) 25%
  );
  --rhc-new-color-dark-bruin-tint-60: color-mix(
    in lab,
    var(--rhc-new-color-dark-bruin-tint-100) 60%,
    var(--basis-color-root-background-color, black) 40%
  );
  --rhc-new-color-dark-bruin-tint-45: color-mix(
    in lab,
    var(--rhc-new-color-dark-bruin-tint-100) 45%,
    var(--basis-color-root-background-color, black) 55%
  );
  --rhc-new-color-dark-bruin-tint-30: color-mix(
    in lab,
    var(--rhc-new-color-dark-bruin-tint-100) 30%,
    var(--basis-color-root-background-color, black) 70%
  );
  --rhc-new-color-dark-bruin-tint-15: color-mix(
    in lab,
    var(--rhc-new-color-dark-bruin-tint-100) 15%,
    var(--basis-color-root-background-color, black) 85%
  );
}

.rhc-theme {
  --basis-color-root-light-background-color: white;
  --basis-color-root-dark-background-color: black;
  --basis-color-root-background-color: white;
}

@media (prefers-color-scheme: dark) {
  .rhc-theme {
    --basis-color-root-background-color: black;
    --rhc-new-color-zwart: white;
    --rhc-new-color-wit: black;
  }
}

.rhc-theme {
  --rhc-new-color-coolgray-tint-500: #64748b;
  --rhc-new-color-coolgray-tint-900: color-mix(
    in lab,
    var(--rhc-new-color-coolgray-tint-500) 15%,
    var(--basis-color-root-color, var(--rhc-new-color-zwart)) 85%
  );
  --rhc-new-color-coolgray-tint-800: color-mix(
    in lab,
    var(--rhc-new-color-coolgray-tint-500) 30%,
    var(--basis-color-root-color, var(--rhc-new-color-zwart)) 70%
  );
  --rhc-new-color-coolgray-tint-700: color-mix(
    in lab,
    var(--rhc-new-color-coolgray-tint-500) 45%,
    var(--basis-color-root-color, var(--rhc-new-color-zwart)) 55%
  );
  --rhc-new-color-coolgray-tint-600: color-mix(
    in lab,
    var(--rhc-new-color-coolgray-tint-500) 60%,
    var(--basis-color-root-color, var(--rhc-new-color-zwart)) 40%
  );
  --rhc-new-color-coolgray-tint-400: color-mix(
    in lab,
    var(--rhc-new-color-coolgray-tint-500) 75%,
    var(--basis-color-root-background-color, var(--rhc-new-color-wit)) 25%
  );
  --rhc-new-color-coolgray-tint-300: color-mix(
    in lab,
    var(--rhc-new-color-coolgray-tint-500) 60%,
    var(--basis-color-root-background-color, var(--rhc-new-color-wit)) 40%
  );
  --rhc-new-color-coolgray-tint-200: color-mix(
    in lab,
    var(--rhc-new-color-coolgray-tint-500) 45%,
    var(--basis-color-root-background-color, var(--rhc-new-color-wit)) 55%
  );
  --rhc-new-color-coolgray-tint-100: color-mix(
    in lab,
    var(--rhc-new-color-coolgray-tint-500) 30%,
    var(--basis-color-root-background-color, var(--rhc-new-color-wit)) 70%
  );
  --rhc-new-color-coolgray-tint-050: color-mix(
    in lab,
    var(--rhc-new-color-coolgray-tint-500) 15%,
    var(--basis-color-root-background-color, var(--rhc-new-color-wit)) 85%
  );
}

@media (prefers-color-scheme: dark) {
  .rhc-theme {
    --rhc-new-color-coolgray-tint-050: #0f172a;
    --rhc-new-color-coolgray-tint-100: #1e293b;
    --rhc-new-color-coolgray-tint-200: #334155;
    --rhc-new-color-coolgray-tint-300: #475569;
    --rhc-new-color-coolgray-tint-400: #64748b;
    --rhc-new-color-coolgray-tint-500: #94a3b8;
    --rhc-new-color-coolgray-tint-600: #cbd5e1;
    --rhc-new-color-coolgray-tint-700: #e2e8f0;
    --rhc-new-color-coolgray-tint-800: #f1f5f9;
    --rhc-new-color-coolgray-tint-900: #f8fafc;
  }
}
