.rhc-theme--dark-mode {
  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  .rhc-theme--dark-mode {
    --rhc-color-cool-grey-50: var(--rhc-color-dark-cool-grey-50);
    --rhc-color-cool-grey-100: var(--rhc-color-dark-cool-grey-100);
    --rhc-color-cool-grey-200: var(--rhc-color-dark-cool-grey-200);
    --rhc-color-cool-grey-300: var(--rhc-color-dark-cool-grey-300);
    --rhc-color-cool-grey-400: var(--rhc-color-dark-cool-grey-400);
    --rhc-color-cool-grey-500: var(--rhc-color-dark-cool-grey-500);
    --rhc-color-cool-grey-600: var(--rhc-color-dark-cool-grey-600);
    --rhc-color-cool-grey-700: var(--rhc-color-dark-cool-grey-700);
    --rhc-color-cool-grey-800: var(--rhc-color-dark-cool-grey-800);
    --rhc-color-cool-grey-900: var(--rhc-color-dark-cool-grey-900);
    --rhc-color-lichtblauw-50: var(--rhc-color-dark-lichtblauw-50);
    --rhc-color-lichtblauw-100: var(--rhc-color-dark-lichtblauw-100);
    --rhc-color-lichtblauw-200: var(--rhc-color-dark-lichtblauw-200);
    --rhc-color-lichtblauw-300: var(--rhc-color-dark-lichtblauw-300);
    --rhc-color-lichtblauw-400: var(--rhc-color-dark-lichtblauw-400);
    --rhc-color-lichtblauw-500: var(--rhc-color-dark-lichtblauw-500);
    --rhc-color-violet-50: var(--rhc-color-dark-violet-50);
    --rhc-color-violet-100: var(--rhc-color-dark-violet-100);
    --rhc-color-violet-200: var(--rhc-color-dark-violet-200);
    --rhc-color-violet-300: var(--rhc-color-dark-violet-300);
    --rhc-color-violet-400: var(--rhc-color-dark-violet-400);
    --rhc-color-violet-500: var(--rhc-color-dark-violet-500);
    --rhc-color-paars-50: var(--rhc-color-dark-paars-50);
    --rhc-color-paars-100: var(--rhc-color-dark-paars-100);
    --rhc-color-paars-200: var(--rhc-color-dark-paars-200);
    --rhc-color-paars-300: var(--rhc-color-dark-paars-300);
    --rhc-color-paars-400: var(--rhc-color-dark-paars-400);
    --rhc-color-paars-500: var(--rhc-color-dark-paars-500);
    --rhc-color-hemelblauw-50: var(--rhc-color-dark-hemelblauw-50);
    --rhc-color-hemelblauw-100: var(--rhc-color-dark-hemelblauw-100);
    --rhc-color-hemelblauw-200: var(--rhc-color-dark-hemelblauw-200);
    --rhc-color-hemelblauw-300: var(--rhc-color-dark-hemelblauw-300);
    --rhc-color-hemelblauw-400: var(--rhc-color-dark-hemelblauw-400);
    --rhc-color-hemelblauw-500: var(--rhc-color-dark-hemelblauw-500);
    --rhc-color-hemelblauw-700: var(--rhc-color-dark-hemelblauw-700);
    --rhc-color-donkerblauw-50: var(--rhc-color-dark-donkerblauw-50);
    --rhc-color-donkerblauw-100: var(--rhc-color-dark-donkerblauw-100);
    --rhc-color-donkerblauw-200: var(--rhc-color-dark-donkerblauw-200);
    --rhc-color-donkerblauw-300: var(--rhc-color-dark-donkerblauw-300);
    --rhc-color-donkerblauw-400: var(--rhc-color-dark-donkerblauw-400);
    --rhc-color-donkerblauw-500: var(--rhc-color-dark-donkerblauw-500);
    --rhc-color-donkerblauw-600: var(--rhc-color-dark-donkerblauw-600);
    --rhc-color-donkerblauw-700: var(--rhc-color-dark-donkerblauw-700);
    --rhc-color-mintgroen-50: var(--rhc-color-dark-mintgroen-50);
    --rhc-color-mintgroen-100: var(--rhc-color-dark-mintgroen-100);
    --rhc-color-mintgroen-200: var(--rhc-color-dark-mintgroen-200);
    --rhc-color-mintgroen-300: var(--rhc-color-dark-mintgroen-300);
    --rhc-color-mintgroen-400: var(--rhc-color-dark-mintgroen-400);
    --rhc-color-mintgroen-500: var(--rhc-color-dark-mintgroen-500);
    --rhc-color-mosgroen-50: var(--rhc-color-dark-mosgroen-50);
    --rhc-color-mosgroen-100: var(--rhc-color-dark-mosgroen-100);
    --rhc-color-mosgroen-200: var(--rhc-color-dark-mosgroen-200);
    --rhc-color-mosgroen-300: var(--rhc-color-dark-mosgroen-300);
    --rhc-color-mosgroen-400: var(--rhc-color-dark-mosgroen-400);
    --rhc-color-mosgroen-500: var(--rhc-color-dark-mosgroen-500);
    --rhc-color-groen-50: var(--rhc-color-dark-groen-50);
    --rhc-color-groen-100: var(--rhc-color-dark-groen-100);
    --rhc-color-groen-200: var(--rhc-color-dark-groen-200);
    --rhc-color-groen-300: var(--rhc-color-dark-groen-300);
    --rhc-color-groen-400: var(--rhc-color-dark-groen-400);
    --rhc-color-groen-500: var(--rhc-color-dark-groen-500);
    --rhc-color-donkergroen-50: var(--rhc-color-dark-donkergroen-50);
    --rhc-color-donkergroen-100: var(--rhc-color-dark-donkergroen-100);
    --rhc-color-donkergroen-200: var(--rhc-color-dark-donkergroen-200);
    --rhc-color-donkergroen-300: var(--rhc-color-dark-donkergroen-300);
    --rhc-color-donkergroen-400: var(--rhc-color-dark-donkergroen-400);
    --rhc-color-donkergroen-500: var(--rhc-color-dark-donkergroen-500);
    --rhc-color-bruin-50: var(--rhc-color-dark-bruin-50);
    --rhc-color-bruin-100: var(--rhc-color-dark-bruin-100);
    --rhc-color-bruin-200: var(--rhc-color-dark-bruin-200);
    --rhc-color-bruin-300: var(--rhc-color-dark-bruin-300);
    --rhc-color-bruin-400: var(--rhc-color-dark-bruin-400);
    --rhc-color-bruin-500: var(--rhc-color-dark-bruin-500);
    --rhc-color-donkerbruin-50: var(--rhc-color-dark-donkerbruin-50);
    --rhc-color-donkerbruin-100: var(--rhc-color-dark-donkerbruin-100);
    --rhc-color-donkerbruin-200: var(--rhc-color-dark-donkerbruin-200);
    --rhc-color-donkerbruin-300: var(--rhc-color-dark-donkerbruin-300);
    --rhc-color-donkerbruin-400: var(--rhc-color-dark-donkerbruin-400);
    --rhc-color-donkerbruin-500: var(--rhc-color-dark-donkerbruin-500);
    --rhc-color-geel-50: var(--rhc-color-dark-geel-50);
    --rhc-color-geel-100: var(--rhc-color-dark-geel-100);
    --rhc-color-geel-200: var(--rhc-color-dark-geel-200);
    --rhc-color-geel-300: var(--rhc-color-dark-geel-300);
    --rhc-color-geel-400: var(--rhc-color-dark-geel-400);
    --rhc-color-geel-500: var(--rhc-color-dark-geel-500);
    --rhc-color-donkergeel-50: var(--rhc-color-dark-donkergeel-50);
    --rhc-color-donkergeel-100: var(--rhc-color-dark-donkergeel-100);
    --rhc-color-donkergeel-200: var(--rhc-color-dark-donkergeel-200);
    --rhc-color-donkergeel-300: var(--rhc-color-dark-donkergeel-300);
    --rhc-color-donkergeel-400: var(--rhc-color-dark-donkergeel-400);
    --rhc-color-donkergeel-500: var(--rhc-color-dark-donkergeel-500);
    --rhc-color-oranje-50: var(--rhc-color-dark-oranje-50);
    --rhc-color-oranje-100: var(--rhc-color-dark-oranje-100);
    --rhc-color-oranje-200: var(--rhc-color-dark-oranje-200);
    --rhc-color-oranje-300: var(--rhc-color-dark-oranje-300);
    --rhc-color-oranje-400: var(--rhc-color-dark-oranje-400);
    --rhc-color-oranje-500: var(--rhc-color-dark-oranje-500);
    --rhc-color-rood-50: var(--rhc-color-dark-rood-50);
    --rhc-color-rood-100: var(--rhc-color-dark-rood-100);
    --rhc-color-rood-200: var(--rhc-color-dark-rood-200);
    --rhc-color-rood-300: var(--rhc-color-dark-rood-300);
    --rhc-color-rood-400: var(--rhc-color-dark-rood-400);
    --rhc-color-rood-500: var(--rhc-color-dark-rood-500);
    --rhc-color-roze-50: var(--rhc-color-dark-roze-50);
    --rhc-color-roze-100: var(--rhc-color-dark-roze-100);
    --rhc-color-roze-200: var(--rhc-color-dark-roze-200);
    --rhc-color-roze-300: var(--rhc-color-dark-roze-300);
    --rhc-color-roze-400: var(--rhc-color-dark-roze-400);
    --rhc-color-roze-500: var(--rhc-color-dark-roze-500);
    --rhc-color-robijnrood-50: var(--rhc-color-dark-robijnrood-50);
    --rhc-color-robijnrood-100: var(--rhc-color-dark-robijnrood-100);
    --rhc-color-robijnrood-200: var(--rhc-color-dark-robijnrood-200);
    --rhc-color-robijnrood-300: var(--rhc-color-dark-robijnrood-300);
    --rhc-color-robijnrood-400: var(--rhc-color-dark-robijnrood-400);
    --rhc-color-robijnrood-500: var(--rhc-color-dark-robijnrood-500);
    --rhc-color-lintblauw-50: var(--rhc-color-dark-lintblauw-50);
    --rhc-color-lintblauw-100: var(--rhc-color-dark-lintblauw-100);
    --rhc-color-lintblauw-200: var(--rhc-color-dark-lintblauw-200);
    --rhc-color-lintblauw-300: var(--rhc-color-dark-lintblauw-300);
    --rhc-color-lintblauw-400: var(--rhc-color-dark-lintblauw-400);
    --rhc-color-lintblauw-500: var(--rhc-color-dark-lintblauw-500);
    --rhc-color-lintblauw-600: var(--rhc-color-dark-lintblauw-600);
    --rhc-color-lintblauw-700: var(--rhc-color-dark-lintblauw-700);
    --rhc-color-wit: var(--rhc-color-dark-wit);
    --rhc-color-zwart: var(--rhc-color-dark-zwart);
  }
}
