.basis-layout-container--fluid,
.basis-layout-container--fluid-space,
.rhc-theme--fluid,
.rhc-theme--fluid-space {
  /* fluid t-shirt size tokens.
   * In short: `space-[size]` is a value between `space-min-[size]` and `space-max-[size]`
   */
  --rhc-space-2xs: calc(
    var(--rhc-space-min-2xs) + (var(--rhc-space-max-2xs) - var(--rhc-space-min-2xs)) *
      var(--basis-layout-container-scale)
  );
  --rhc-space-xs: calc(
    var(--rhc-space-min-xs) + (var(--rhc-space-max-xs) - var(--rhc-space-min-xs)) * var(--basis-layout-container-scale)
  );
  --rhc-space-sm: calc(
    var(--rhc-space-min-sm) + (var(--rhc-space-max-sm) - var(--rhc-space-min-sm)) * var(--basis-layout-container-scale)
  );
  --rhc-space-md: calc(
    var(--rhc-space-min-md) + (var(--rhc-space-max-md) - var(--rhc-space-min-md)) * var(--basis-layout-container-scale)
  );
  --rhc-space-lg: calc(
    var(--rhc-space-min-lg) + (var(--rhc-space-max-lg) - var(--rhc-space-min-lg)) * var(--basis-layout-container-scale)
  );
  --rhc-space-xl: calc(
    var(--rhc-space-min-xl) + (var(--rhc-space-max-xl) - var(--rhc-space-min-xl)) * var(--basis-layout-container-scale)
  );
  --rhc-space-2xl: calc(
    var(--rhc-space-min-2xl) + (var(--rhc-space-max-2xl) - var(--rhc-space-min-2xl)) *
      var(--basis-layout-container-scale)
  );
  --rhc-space-3xl: calc(
    var(--rhc-space-min-3xl) + (var(--rhc-space-max-3xl) - var(--rhc-space-min-3xl)) *
      var(--basis-layout-container-scale)
  );
  --rhc-space-4xl: calc(
    var(--rhc-space-min-4xl) + (var(--rhc-space-max-4xl) - var(--rhc-space-min-4xl)) *
      var(--basis-layout-container-scale)
  );
  --rhc-space-5xl: calc(
    var(--rhc-space-min-5xl) + (var(--rhc-space-max-5xl) - var(--rhc-space-min-5xl)) *
      var(--basis-layout-container-scale)
  );

  /* fluid logo size tokens
   */
  --rhc-size-lint: calc(
    var(--rhc-size-min-lint) + (var(--rhc-size-max-lint) - var(--rhc-size-min-lint)) *
      var(--basis-layout-container-scale)
  );
  --rhc-size-quarter-lint: calc(0.25 * var(--rhc-size-lint));
  --rhc-size-half-lint: calc(0.5 * var(--rhc-size-lint));
  --rhc-size-2-lint: calc(2 * var(--rhc-size-lint));
  --rhc-size-3-lint: calc(3 * var(--rhc-size-lint));
  --rhc-size-4-lint: calc(4 * var(--rhc-size-lint));
}
