/* .card-contact{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    padding: 48px 0px;
}

/* .rhc-card-as-link--full-bleed{
    background-image: url('/src/placeholder.jpg');
} */ 