.rhc-textbox.utrecht-textbox:focus {
  border-width: var(--utrecht-textbox-focus-border-width, var(--rhc-border-width-m, 2px));
}
.rhc-text-box.utrecht-textbox--invalid:focus {
  border-width: var(--utrecht-textbox-focus-border-width, var(--rhc-border-width-m, 2px));
}
