@use "@utrecht/listbox-css/src/mixin" as utrecht-listbox-mixin;

@mixin rhc-language-navigation {
  // listbox max width adjustment
}

@mixin rhc-language-navigation--listbox {
  // listbox max width adjustment
}

@mixin rhc-listbox__item {
  @include utrecht-listbox-mixin.utrecht-listbox__option;
}

@mixin rhc-listbox__item--html-li {
  @include utrecht-listbox-mixin.reset-li;

  &:hover {
    @include utrecht-listbox-mixin.utrecht-listbox__option--hover;
  }

  &:focus {
    @include utrecht-listbox-mixin.utrecht-listbox__option--focus;
  }
}

@mixin rhc-listbox__item--selected {
  @include utrecht-listbox-mixin.utrecht-listbox__option--selected;
}

@mixin rhc-language-navigation__link {
  // move to tokens later
  --nl-link-text-decoration-line: var(
    --rhc-language-navigation-link-text-decoration-line,
    var(--nl-link-text-decoration-line)
  );
  --nl-link-color: var(--rhc-language-navigation-link-color, var(--rhc-color-zwart));

  flex-grow: 1;
  line-height: var(--rhc-language-navigation-link-line-height, var(--rhc-space-400));
  padding-block-end: var(--rhc-language-navigation-link-padding-block-end, var(--rhc-space-100));
  padding-block-start: var(--rhc-language-navigation-link-padding-block-start, var(--rhc-space-100));
  padding-inline-end: var(--rhc-language-navigation-link-padding-inline-end, var(--rhc-space-200));
  padding-inline-start: var(--rhc-language-navigation-link-padding-inline-start, var(--rhc-space-200));
}

@mixin rhc-language-navigation__local-language {
  color: var(--rhc-language-navigation-local-language-color, var(--rhc-color-cool-grey-500));
}
