@mixin rhc-language-navigation {
  // listbox max width adjustment
}

@mixin rhc-language-navigation--listbox {
  // listbox max width adjustment
}

@mixin rhc-language-navigation--link__selected {
  // styles as default text with background
}

@mixin rhc-language-navigation--link {
  // move to tokens later
  --rhc-language-navigation-link-text-decoration: none;
  --nl-link-text-decoration-line: var(
    --rhc-language-navigation-link-text-decoration,
    var(--nl-link-text-decoration-line)
  );
  --nl-link-color: var(--rhc-language-navigation-link-color, var(--rhc-color-zwart));

  line-height: 2rem;
  padding-block-end: var(--rhc-language-navigation-listbox-block-padding-end, var(--rhc-space-100));
  padding-block-start: var(--rhc-language-navigation-listbox-block-padding-start, var(--rhc-space-100));
  padding-inline-end: var(--rhc-language-navigation-listbox-inline-padding-end, var(--rhc-space-200));
  padding-inline-start: var(--rhc-language-navigation-listbox-inline-padding-start, var(--rhc-space-200));
}
