@mixin rhc-code-input__display-flex {
  display: flex;
}

@mixin rhc-code-input--hidden {
  block-size: 1px !important;
  border: 0 !important;
  clip: rect(0, 0, 0, 0) !important;
  inline-size: 1px !important;
  margin-block: -1px !important;
  margin-inline: -1px !important;
  opacity: 0%;
  overflow: hidden !important;
  padding-block: 0 !important;
  padding-inline: 0 !important;
  position: absolute;
  white-space: nowrap !important;
}

@mixin rhc-code-input-group {
  column-gap: var(--rhc-code-input-group-column-gap);
  @include rhc-code-input__display-flex;

  flex-direction: row;
}

@mixin rhc-code-input-container {
  @include rhc-code-input__display-flex;

  flex-direction: column;
}

@mixin rhc-code-input {
  block-size: var(--rhc-code-input-size);
  inline-size: var(--rhc-code-input-size);
  text-align: center;
}
