.rhc-summary-list-item__value {
  padding-inline-end: var(--rhc-summary-list-item-row-padding-inline-end);
}

.rhc-summary-list-item__key {
  padding-inline-end: var(--rhc-summary-list-item-row-padding-inline-end);
}

.rhc-summary-list-item__action {
  padding-inline-end: var(--rhc-summary-list-item-row-padding-inline-end);
}
