.rhc-card-praktijk {
  display: grid;
  gap: var(--rhc-space-200);
  grid-template-columns: 1fr 1fr 1fr;
  padding-block: var(--rhc-space-300);
  padding-inline: 0;
}
.rhc-paragraph__padding {
  padding-block: var(--rhc-space-300) 0;
  padding-inline: 0;
}
