.rhc-card-praktijk {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  padding-block: 1.5rem;
  padding-inline: 0;
}
.rhc-paragraph__padding {
  padding-block: 1.5rem 0;
  padding-inline: 0;      
}
