// if needed add styles here for the Article components.

.utrecht-article {
  font-family: var(--rhc-font-family-default, inherit);
  font-size: var(--rhc-font-size-xs-desktop, inherit);
  font-weight: var(--rhc-text-font-weight-regular, inherit);
  line-height: var(--rhc-text-line-height-md, inherit);
}
