.rhc-design-token-badge {
  --utrecht-data-badge-padding-block: 0.4rem;
  --utrecht-data-badge-border-width: 1px;
  --utrecht-data-badge-border-color: currentColor;

  border-color: var(--utrecht-data-badge-border-color);
  border-style: solid;
  font-weight: 400;
}
